brametaQA/force-app/main/default/flows/Adiciona_Item_da_Cota_o.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_Itens_Cota_o2</name>
        <label>Atribui Itens Cotação2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Unidade_de_Medida2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o2.Unidade_de_medida</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Modelo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o2.Modelo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Pre_o_Unit_Sem_Impostos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o2.C_pia_1_de_Pre_o_Unit_rio_Sem_impostos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Pre_o_Unit_Com_Impostos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o2.C_pia_1_de_Pre_o_Unit_rio_Com_impostos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o2.Quantidade_vendida_unidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o2.C_pia_1_de_Pre_o_Unit_rio_Com_impostos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C_pia_1_de_Obtem_entrada_da_tabela_de_pre_o.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProdutoId.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Peso_unit_rio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o2.Peso_unit_rio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Destino__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o2.Refer_ncia_de_entrega_Endere_o</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Valor_frete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o2.Valor_Frete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TodosItensCotacao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ItemDaCotacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contador_numero</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>igualContagemContador2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiItensCotacao</name>
        <label>Atribui Itens Cotação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.M_dulos_por_Tracker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto.M_dulos_por_Tracker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Tracker_Desprotegido_qtd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto.Tracker_desprotegido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Tracker_Protegido_qtd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto.Tracker_protegido_qtd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Tracker_Estacas_laterais__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto.Tracker_Estacas_Laterais</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Tracker_Estacas_Movidas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto.Tracker_Estacas_Movidas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Tracker_Estacas_Motoras__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto.Tracker_Estacas_Motoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Configura_o_do_Tracker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto.Configura_o_do_Tracker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Quantidade_total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_o_Unit_rio_Com_impostos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtem_entrada_da_tabela_de_pre_o.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProdutoId.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Caracter_stica_da_mesa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto.CaracteristicasMesa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Quantidade_de_mesas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto.QuantidadeMesas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Inclina_o__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto.Inclinacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Perfil_da_estaca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto.PerfilEstaca</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TodosItensCotacao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ItemDaCotacao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Itens_de_projeto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiItensCotacaoIgual</name>
        <label>Atribui Itens Cotação Igual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.M_dulos_por_Tracker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto_igual.M_dulos_por_Tracker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Tracker_Desprotegido_qtd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto_igual.Tracker_desprotegido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Tracker_Protegido_qtd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto_igual.Tracker_protegido_qtd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Tracker_Estacas_laterais__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto_igual.Tracker_Estacas_Laterais</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Tracker_Estacas_Movidas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto_igual.Tracker_Estacas_Movidas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Tracker_Estacas_Motoras__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto_igual.Tracker_Estacas_Motoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Configura_o_do_Tracker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto_igual.Configura_o_do_Tracker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Quantidade_total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_o_Unit_rio_Com_impostos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtem_entrada_da_tabela_de_pre_o.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProdutoId.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Caracter_stica_da_mesa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto_igual.CaracteristicasMesa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Quantidade_de_mesas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto_igual.QuantidadeMesas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Inclina_o__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto_igual.Inclinacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Perfil_da_estaca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_projeto_igual.PerfilEstaca</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TodosItensCotacao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ItemDaCotacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contador_numero</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>igualContagemContador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attr_Contador</name>
        <label>attr_Contador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contador_numero</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Itens_de_projeto_igual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attr_Contador2</name>
        <label>attr_Contador2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contador_numero</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Itens_de_cota_o2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attr_Tipo_de_registro_Cotacao_Trasmissao</name>
        <label>attr Tipo de registro Cotacao Trasmissao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Obt_m_cota_o.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterTipoRegistroTransmissao.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cria_itens_da_linha_da_cota_o</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrTipoRegistroCotacao</name>
        <label>attr Tipo de registro Cotacao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Obt_m_cota_o.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterTipoRegistroSolar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cria_itens_da_linha_da_cota_o</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_1_de_Atribui_Itens_Cota_o</name>
        <label>Atribui Itens Cotação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Unidade_de_Medida2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o.Unidade_de_medida</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Modelo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o.Modelo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Valor_frete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o.Valor_Frete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Pre_o_Unit_Sem_Impostos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o.C_pia_1_de_Pre_o_Unit_rio_Sem_impostos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Pre_o_Unit_Com_Impostos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o.C_pia_1_de_Pre_o_Unit_rio_Com_impostos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o.Quantidade_vendida_unidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o.C_pia_1_de_Pre_o_Unit_rio_Com_impostos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C_pia_1_de_Obtem_entrada_da_tabela_de_pre_o.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProdutoId.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Peso_unit_rio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o.Peso_unit_rio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemDaCotacao.Destino__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itens_de_cota_o.Refer_ncia_de_entrega_Endere_o</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TodosItensCotacao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ItemDaCotacao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Itens_de_cota_o</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Poste</name>
        <choiceText>Poste</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Poste</stringValue>
        </value>
    </choices>
    <choices>
        <name>R_Kg</name>
        <choiceText>R$/Kg</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	R$/Kg</stringValue>
        </value>
    </choices>
    <choices>
        <name>R_Un</name>
        <choiceText>R$/Un</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R$/Un</stringValue>
        </value>
    </choices>
    <choices>
        <name>R_Wp</name>
        <choiceText>R$/Wp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	R$/Wp</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solar</name>
        <choiceText>Solar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Torre_Subesta_o</name>
        <choiceText>Torre/Subestação</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Torre/Subestação</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>CriarItensIguais</name>
        <label>CriarItensIguais</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Itens_de_projeto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>nao</defaultConnectorLabel>
        <rules>
            <name>sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DesejaCriarItensIguais</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>attr_Contador</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>CriarItensIguais2</name>
        <label>CriarItensIguais2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Itens_de_cota_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>nao2</defaultConnectorLabel>
        <rules>
            <name>sim2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DesejaCriarItensIguais2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>attr_Contador2</targetReference>
            </connector>
            <label>sim2</label>
        </rules>
    </decisions>
    <decisions>
        <name>igualContagemContador</name>
        <label>igualContagemContador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AtribuiItensCotacaoIgual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>naoIgualContagem</defaultConnectorLabel>
        <rules>
            <name>igualContagem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contador_numero</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuantidadeItens</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>attrTipoRegistroCotacao</targetReference>
            </connector>
            <label>igualContagem</label>
        </rules>
    </decisions>
    <decisions>
        <name>igualContagemContador2</name>
        <label>igualContagemContador2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Atribui_Itens_Cota_o2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>naoIgualContagem2</defaultConnectorLabel>
        <rules>
            <name>igualContagem2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contador_numero</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quantidade2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>attr_Tipo_de_registro_Cotacao_Trasmissao</targetReference>
            </connector>
            <label>igualContagem2</label>
        </rules>
    </decisions>
    <decisions>
        <name>OportunidadeTipoRegistroLeilao</name>
        <label>OportunidadeTipoRegistroLeilao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Resultado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>naopodeLeilao</defaultConnectorLabel>
        <rules>
            <name>podeLeilao</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obt_m_cota_o.Opportunity.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Leilão</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obt_m_cota_o.Opportunity.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Leilao</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obt_m_cota_o.Opportunity.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>leilao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tela_de_preenchimento_LTSE</targetReference>
            </connector>
            <label>podeLeilao</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_produto</name>
        <label>Tipo de produto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Galvanização</defaultConnectorLabel>
        <rules>
            <name>Solar2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Op_es_de_registro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Solar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterTipoRegistroSolar</targetReference>
            </connector>
            <label>Solar</label>
        </rules>
        <rules>
            <name>LTSE2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Op_es_de_registro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Poste</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Op_es_de_registro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Torre_Subesta_o</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterTipoRegistroTransmissao</targetReference>
            </connector>
            <label>LT/SE</label>
        </rules>
    </decisions>
    <decisions>
        <name>verificaOportunidadeTipoRegistroSolar</name>
        <label>verificaOportunidadeTipoRegistroSolar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Resultado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>naopodeSolar</defaultConnectorLabel>
        <rules>
            <name>podeSolar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obt_m_cota_o.Opportunity.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Solar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tela_de_preenchimento_solar</targetReference>
            </connector>
            <label>podeSolar</label>
        </rules>
    </decisions>
    <description>Implementação de campos técnicos para estruturas do tipo Fixo no repetidor de itens de cotação solar. Adicionada lógica de visibilidade condicional na tela e mapeamento dos novos campos (Mesa, Qtd, Inclinação e Perfil) no elemento de atribuição dentro do loop.</description>
    <dynamicChoiceSets>
        <name>ProdutoSolar</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solar</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>ProdutoId.Product2Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProdutoTransmissao</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LT-SE</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>ProdutoId.Product2Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Adiciona Item da Cotação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adiciona Item da Cotação</label>
    <loops>
        <name>Itens_de_cota_o</name>
        <label>Itens de cotação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>C_pia_1_de_Preenchimento.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>C_pia_1_de_Atribui_Itens_Cota_o</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>attr_Tipo_de_registro_Cotacao_Trasmissao</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Itens_de_cota_o2</name>
        <label>Itens_de_cota_o2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>C_pia_1_de_Preenchimento.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribui_Itens_Cota_o2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>attr_Tipo_de_registro_Cotacao_Trasmissao</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Itens_de_projeto</name>
        <label>Itens de projeto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Preenchimento.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuiItensCotacao</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>attrTipoRegistroCotacao</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Itens_de_projeto_igual</name>
        <label>Itens de projeto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Preenchimento.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuiItensCotacaoIgual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>attrTipoRegistroCotacao</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cria_itens_da_linha_da_cota_o</name>
        <label>Cria itens da linha da cotação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>atualizarCotacao</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>falha</targetReference>
        </faultConnector>
        <inputReference>TodosItensCotacao</inputReference>
    </recordCreates>
    <recordLookups>
        <name>C_pia_1_de_Obtem_entrada_da_tabela_de_pre_o</name>
        <label>Obtem entrada da tabela de preço</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C_pia_2_de_Atualiza_Pricebook_em_cota_o</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProdutoId.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obt_m_cota_o</name>
        <label>Obtém cotação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tela_de_selecao</targetReference>
        </connector>
        <faultConnector>
            <targetReference>falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_entrada_da_tabela_de_pre_o</name>
        <label>Obtem entrada da tabela de preço</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_Pricebook_em_cota_o</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProdutoId.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterTipoRegistroSolar</name>
        <label>Obter Tipo Registro Solar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>verificaOportunidadeTipoRegistroSolar</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solar</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterTipoRegistroTransmissao</name>
        <label>Obter Tipo Registro Transmissao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OportunidadeTipoRegistroLeilao</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transmiss_o</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Pricebook_em_cota_o</name>
        <label>Atualiza Pricebook em cotação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CriarItensIguais</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Obtem_entrada_da_tabela_de_pre_o.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>atualizarCotacao</name>
        <label>atualizarCotacao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>falha</targetReference>
        </faultConnector>
        <inputReference>Obt_m_cota_o</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>C_pia_2_de_Atualiza_Pricebook_em_cota_o</name>
        <label>Atualiza Pricebook em cotação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CriarItensIguais2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>C_pia_1_de_Obtem_entrada_da_tabela_de_pre_o.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>falha</name>
        <label>falha</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg_falha</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resultado</name>
        <label>Resultado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Obt_m_cota_o</targetReference>
        </connector>
        <fields>
            <name>msg_validacao</name>
            <fieldText>&lt;p&gt;A oportunidade é do tipo &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Obt_m_cota_o.Opportunity.RecordType.Name}&lt;/span&gt;, não pode incluir itens que sejam diferentes desse item.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>tela_de_preenchimento_LTSE</name>
        <label>tela de preenchimento - LT/SE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C_pia_1_de_Obtem_entrada_da_tabela_de_pre_o</targetReference>
        </connector>
        <fields>
            <name>C_pia_1_de_C_pia_1_de_Informacao_geral</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿INFORMAÇÕES GERAIS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>C_pia_1_de_C_pia_1_de_Cabecalho</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Nome da cotação: &lt;/strong&gt;{!Obt_m_cota_o.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Oportunidade:&lt;/strong&gt; {!recordId.Opportunity.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Cliente:&lt;/strong&gt;{!recordId.Opportunity.Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>C_pia_1_de_Valor_selecionado</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Tipo de produto selecionado: {!Op_es_de_registro}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Op_es_de_registro</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Solar</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>C_pia_1_de_Produto</name>
            <choiceReferences>ProdutoTransmissao</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Produto</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Geral</name>
            <fieldText>Geral</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Geral_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tensao</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Tensão (KV): &lt;/strong&gt;{!recordId.Opportunity.KV_MWp__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>5</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Setor_Atv</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Setor de atividade:&lt;/strong&gt; {!recordId.Opportunity.Setor_de_atividade__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>5</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DesejaCriarItensIguais2</name>
            <dataType>Boolean</dataType>
            <fieldText>Deseja replicar estes dados para múltiplos itens?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Quantidade2</name>
            <dataType>Number</dataType>
            <fieldText>Quantidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DesejaCriarItensIguais2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>helper2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;⚠️ &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Atenção:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; Como você optou por criar itens iguais, &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;preencha apenas a primeira linha&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; do formulário abaixo. O sistema usará esses dados para gerar automaticamente as {!Quantidade2} cópias solicitadas. Não é necessário clicar em &quot;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Adicionar&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&quot; para este caso.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DesejaCriarItensIguais2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Caracter_sticas_do_projeto2</name>
            <fieldText>Características do projeto</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Caracter_sticas_do_projeto2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>C_pia_1_de_Preenchimento</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Modelo</name>
                <dataType>String</dataType>
                <fieldText>Modelo</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Unidade_de_medida</name>
                <choiceReferences>R_Un</choiceReferences>
                <choiceReferences>R_Kg</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Unidade de medida de venda</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>C_pia_1_de_Pre_o_Unit_rio_Com_impostos</name>
                <dataType>Currency</dataType>
                <fieldText>Preço Unitário (Com impostos)</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Insira o valor calculado por watt-pico (R$/Wp)&lt;/span&gt;&lt;/p&gt;</helpText>
                <isRequired>true</isRequired>
                <scale>3</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>C_pia_1_de_Pre_o_Unit_rio_Sem_impostos</name>
                <dataType>Currency</dataType>
                <fieldText>Preço Unitário (Sem impostos)</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Insira o valor calculado por watt-pico (R$/Wp)&lt;/p&gt;</helpText>
                <isRequired>true</isRequired>
                <scale>3</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Quantidade_vendida_unidade</name>
                <dataType>Number</dataType>
                <fieldText>Quantidade vendida (unidade)</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Peso_unit_rio</name>
                <dataType>Number</dataType>
                <fieldText>Peso unitário</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <scale>3</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>3</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Valor_Frete</name>
                <dataType>Currency</dataType>
                <fieldText>Valor Frete</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
                <scale>3</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>3</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Refer_ncia_de_entrega_Endere_o</name>
                <dataType>String</dataType>
                <fieldText>Referência de Entrega (endereço)</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>tela_de_preenchimento_solar</name>
        <label>tela de preenchimento - Solar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Obtem_entrada_da_tabela_de_pre_o</targetReference>
        </connector>
        <fields>
            <name>C_pia_1_de_Informacao_geral</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿INFORMAÇÕES GERAIS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>C_pia_1_de_Cabecalho</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Nome da cotação: &lt;/strong&gt;{!Obt_m_cota_o.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Oportunidade:&lt;/strong&gt; {!recordId.Opportunity.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Cliente:&lt;/strong&gt;{!recordId.Opportunity.Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Valor_selecionado</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Tipo de produto selecionado: {!Op_es_de_registro}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Op_es_de_registro</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Solar</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Produto</name>
            <choiceReferences>ProdutoSolar</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Produto</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DesejaCriarItensIguais</name>
            <dataType>Boolean</dataType>
            <fieldText>Deseja replicar estes dados para múltiplos itens?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>QuantidadeItens</name>
            <dataType>Number</dataType>
            <fieldText>Quantidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DesejaCriarItensIguais</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>helper</name>
            <fieldText>&lt;p&gt;⚠️ &lt;strong&gt;Atenção:&lt;/strong&gt; Como você optou por criar itens iguais, &lt;strong&gt;preencha apenas a primeira linha&lt;/strong&gt; do formulário abaixo. O sistema usará esses dados para gerar automaticamente as {!QuantidadeItens} cópias solicitadas. Não é necessário clicar em &quot;&lt;strong&gt;Adicionar&lt;/strong&gt;&quot; para este caso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DesejaCriarItensIguais</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Valores</name>
            <fieldText>Valores</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Valores_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Estrutura</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Tipo de estrutura:&lt;/strong&gt; {!recordId.Opportunity.Tipo__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>3</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>potenciaUsina</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Potência total da usina:&lt;/strong&gt; {!recordId.Opportunity.Potencia_da_usina__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>3</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Pre_o_Unit_rio_Sem_impostos</name>
                    <dataType>Currency</dataType>
                    <fieldText>Preço Unitário (Sem impostos)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Insira o valor calculado por watt-pico (R$/Wp)&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>3</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>3</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Pre_o_Unit_rio_Com_impostos</name>
                    <dataType>Currency</dataType>
                    <fieldText>Preço Unitário (Com impostos)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Insira o valor calculado por watt-pico (R$/Wp)&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>3</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>3</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Caracter_sticas_do_projeto</name>
            <fieldText>Características do projeto</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Caracter_sticas_do_projeto_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Preenchimento</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Configura_o_do_Tracker</name>
                <dataType>String</dataType>
                <fieldText>Configuração do Tracker</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Opportunity.Tipo__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Tracker</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>M_dulos_por_Tracker</name>
                <dataType>Number</dataType>
                <fieldText>Módulos por Tracker</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Opportunity.Tipo__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Tracker</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Tracker_protegido_qtd</name>
                <dataType>Number</dataType>
                <fieldText>Tracker protegido (qtd)</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Opportunity.Tipo__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Tracker</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Tracker_desprotegido</name>
                <dataType>Number</dataType>
                <fieldText>Tracker desprotegido</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Opportunity.Tipo__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Tracker</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Tracker_Estacas_Laterais</name>
                <dataType>Number</dataType>
                <fieldText>Tracker Estacas Laterais</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Opportunity.Tipo__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Tracker</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Tracker_Estacas_Motoras</name>
                <dataType>Number</dataType>
                <fieldText>Tracker Estacas Motoras</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Opportunity.Tipo__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Tracker</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Tracker_Estacas_Movidas</name>
                <dataType>Number</dataType>
                <fieldText>Tracker Estacas Movidas</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Opportunity.Tipo__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Tracker</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>CaracteristicasMesa</name>
                <dataType>String</dataType>
                <fieldText>Característica da mesa</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Opportunity.Tipo__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Fixo</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>QuantidadeMesas</name>
                <dataType>Number</dataType>
                <fieldText>Quantidade de mesas</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>3</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Opportunity.Tipo__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Fixo</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Inclinacao</name>
                <dataType>String</dataType>
                <fieldText>Inclinação</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>3</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Opportunity.Tipo__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Fixo</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>PerfilEstaca</name>
                <dataType>String</dataType>
                <fieldText>Perfil da estaca</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Opportunity.Tipo__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Fixo</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_de_selecao</name>
        <label>Tela de selecao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tipo_de_produto</targetReference>
        </connector>
        <fields>
            <name>Informacao_geral</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿INFORMAÇÕES GERAIS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cabecalho</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Nome da cotação: &lt;/strong&gt;{!Obt_m_cota_o.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Oportunidade:&lt;/strong&gt; {!recordId.Opportunity.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Cliente:&lt;/strong&gt;{!recordId.Opportunity.Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Op_es_de_registro</name>
            <choiceReferences>Solar</choiceReferences>
            <choiceReferences>Torre_Subesta_o</choiceReferences>
            <choiceReferences>Poste</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opções de registro</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obt_m_cota_o</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Contador_numero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ItemDaCotacao</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>ProdutoId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>TesteItensProjeto</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>TodosItensCotacao</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
