brametaQA/force-app/main/default/flows/Atualiza_Pacotes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribuivalores</name>
        <label>Atribuivalores</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>GetOppPrincipal.Peso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SomaPeso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOppPrincipal.Potencia_da_usina__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SomaPotencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOppPrincipal.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>somavalor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizaOppPrincipal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SomaValorFilhas</name>
        <label>SomaValorFilhas</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SomaPeso</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopFilhas.Peso__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SomaPotencia</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopFilhas.Potencia_da_usina__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>somavalor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopFilhas.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFilhas</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Atualiza Pacotes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza Pacotes</label>
    <loops>
        <name>LoopFilhas</name>
        <label>LoopFilhas</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetOppFilhas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SomaValorFilhas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetOppPrincipal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOppFilhas</name>
        <label>GetOppFilhas</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopFilhas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidade_principal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidade_principal__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppPrincipal</name>
        <label>GetOppPrincipal</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribuivalores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidade_principal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaOppPrincipal</name>
        <label>AtualizaOppPrincipal</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputReference>GetOppPrincipal</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOppFilhas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidade_principal__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Unidade_de_Negocio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solar</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SomaPeso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>SomaPotencia</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>somavalor</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
</Flow>
