brametaQA/force-app/main/default/flows/Atualiza_propriet_rio_oportunidade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Carteira_da_conta</name>
        <label>Carteira da conta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Carteira vendedor</defaultConnectorLabel>
        <rules>
            <name>Carteira_representante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Usu_rio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_propriet_rio_da_oportunidade</targetReference>
            </connector>
            <label>Carteira representante</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_propriet_rio_conta</name>
        <label>Valida UN da conta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Servicos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Unidade_de_Negocio__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Servicos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Carteira_da_conta</targetReference>
            </connector>
            <label>Servicos</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Atualiza proprietário oportunidade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza proprietário oportunidade</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_propriet_rio_da_oportunidade</name>
        <label>Atualiza proprietário da oportunidade</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Usu_rio__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valida_propriet_rio_conta</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
