brametaQA/force-app/main/default/flows/Atualiza_todos_os_parametros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Atualiza todos os parametros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza todos os parâmetros</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Obtem_parametros</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atualizar_registros_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtem_parametros</name>
        <label>Obtem parametros</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Parametro_para_indicador__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_registros_1</name>
        <label>Atualiza itens</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_de_conclusao_da_analise__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_1.Data_inicial__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_de_conclusao_da_analise__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_1.Data_final__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Par_metro_para_indicador__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Par_metro_para_indicador__c</field>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Item_do_caso__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtem_parametros</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-29</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
