brametaQA/force-app/main/default/flows/Atualiza_Comiss_o_Comex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Define_c_lculo</name>
        <label>Define cálculo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Encontra_faixa_de_comiss_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>2-3%</defaultConnectorLabel>
        <rules>
            <name>X3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Representante__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001bJ00000ZmHfGQAV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Representante__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001bJ00000J6s9NQAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Valor</targetReference>
            </connector>
            <label>3%</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontra_faixa_de_comiss_o</name>
        <label>Encontra faixa de comissão</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Atualiza_taxa_efetiva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Faixa_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>450000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_3</targetReference>
            </connector>
            <label>Faixa 3%</label>
        </rules>
        <rules>
            <name>Faixa_2_75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>450000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>900000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_2_75</targetReference>
            </connector>
            <label>Faixa 2,75%</label>
        </rules>
        <rules>
            <name>Faixa_2_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>900000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1800000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_2_5</targetReference>
            </connector>
            <label>Faixa 2,5%</label>
        </rules>
        <rules>
            <name>Faixa_2_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1800000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3600000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_2_25</targetReference>
            </connector>
            <label>Faixa 2,25%</label>
        </rules>
        <rules>
            <name>Faixa_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3600000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_2</targetReference>
            </connector>
            <label>Faixa 2%</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>percentual2</name>
        <dataType>Currency</dataType>
        <expression>(
450000.00 * 0.03
)
+
(
450000.00 * 0.0275
)
+
(
900000.00 * 0.025
)
+
(
1800000.00 * 0.025
)
+
(
($Record.Amount - 3600000.00) * 0.02
)</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>percentual225</name>
        <dataType>Currency</dataType>
        <expression>(
450000.00 * 0.03
)
+
(
450000.00 * 0.0275
)
+
(
900000.00 * 0.025
)
+
(
($Record.Amount - 1800000.00) * 0.0225
)</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>percentual25</name>
        <dataType>Currency</dataType>
        <expression>(
450000.00 * 0.03
)
+
(
450000.00 * 0.0275
)
+
(
($Record.Amount - 900000.00) * 0.025
)</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>Percentual275</name>
        <dataType>Currency</dataType>
        <expression>(
450000.00 * 0.03
)
+
(
($Record.Amount - 450000.00) * 0.0275
)</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>percentual3</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount} * 0.03</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>taxa_efetiva</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Comiss_o__c}/ {!$Record.Amount} * 100</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>Atualiza Comissão - Comex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza Comissão - Comex</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_2</name>
        <label>Atualiza 2%</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualiza_taxa_efetiva</targetReference>
        </connector>
        <inputAssignments>
            <field>Comiss_o__c</field>
            <value>
                <elementReference>percentual2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_2_25</name>
        <label>Atualiza 2,25%</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualiza_taxa_efetiva</targetReference>
        </connector>
        <inputAssignments>
            <field>Comiss_o__c</field>
            <value>
                <elementReference>percentual225</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_2_5</name>
        <label>Atualiza 2,5%</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualiza_taxa_efetiva</targetReference>
        </connector>
        <inputAssignments>
            <field>Comiss_o__c</field>
            <value>
                <elementReference>percentual25</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_2_75</name>
        <label>Atualiza 2,75%</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualiza_taxa_efetiva</targetReference>
        </connector>
        <inputAssignments>
            <field>Comiss_o__c</field>
            <value>
                <elementReference>Percentual275</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_3</name>
        <label>Atualiza 3%</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualiza_taxa_efetiva</targetReference>
        </connector>
        <inputAssignments>
            <field>Comiss_o__c</field>
            <value>
                <elementReference>percentual3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_taxa_efetiva</name>
        <label>Atualiza taxa efetiva</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>taxa_efetiva_comissao__c</field>
            <value>
                <elementReference>taxa_efetiva</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Valor</name>
        <label>Atualiza Valor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualiza_taxa_efetiva</targetReference>
        </connector>
        <inputAssignments>
            <field>Comiss_o__c</field>
            <value>
                <elementReference>percentual3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_c_lculo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Representante__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mercado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Externo</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
