brametaQA/force-app/main/default/flows/Atualiza_produto_da_OF_e_Pedido_Criacao_Alteracao_de_item_do_pedido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_peso_convocado</name>
        <label>Atribui peso convocado</label>
        <locationX>792</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PesoConvocado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Valida_estados_por_produto.Peso_total_do_item_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantidadeConvocada</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Valida_estados_por_produto.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valida_estados_por_produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_peso_em_OV</name>
        <label>Atribui peso em OV</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PesoEmOV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Valida_estados_por_produto.Peso_total_do_item_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantidadeEmOV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Valida_estados_por_produto.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valida_estados_por_produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_peso_em_pedido</name>
        <label>Atribui peso em pedido</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PesoEmPedido</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Valida_estados_por_produto.Peso_total_do_item_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantidadeEmPedido</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Valida_estados_por_produto.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valida_estados_por_produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_peso_liberado</name>
        <label>Atribui peso liberado</label>
        <locationX>1056</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PesoLiberado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Valida_estados_por_produto.Peso_total_do_item_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantidadeLiberada</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Valida_estados_por_produto.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valida_estados_por_produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_pesos</name>
        <label>Atribui pesos</label>
        <locationX>264</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>PesoTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Somando_peso_dos_itens.Peso_total_do_item_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Somando_peso_dos_itens</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Encontra_staus_do_produto</name>
        <label>Encontra staus do produto</label>
        <locationX>660</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Atribui_peso_liberado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Liberado</defaultConnectorLabel>
        <rules>
            <name>Em_pedido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Valida_estados_por_produto.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em pedido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_peso_em_pedido</targetReference>
            </connector>
            <label>Em pedido</label>
        </rules>
        <rules>
            <name>Em_OV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Valida_estados_por_produto.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em OV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_peso_em_OV</targetReference>
            </connector>
            <label>Em OV</label>
        </rules>
        <rules>
            <name>Convocado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Valida_estados_por_produto.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Convocado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_peso_convocado</targetReference>
            </connector>
            <label>Convocado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Atualiza produto da OF e Pedido - Criação / Alteração de item do pedido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza produto da OF e Pedido - Criação / Alteração de item do pedido</label>
    <loops>
        <name>Somando_peso_dos_itens</name>
        <label>Somando peso dos itens</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <collectionReference>Obtem_itens_do_pedido</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribui_pesos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualiza_peso_do_pedido</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Valida_estados_por_produto</name>
        <label>Valida estados por produto</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Obtem_produtos_do_pedido</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Encontra_staus_do_produto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualiza_produto_da_OF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtem_itens_do_pedido</name>
        <label>Obtem itens do pedido</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Somando_peso_dos_itens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_produtos_do_pedido</name>
        <label>Obtem produtos do pedido</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_estados_por_produto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produto_da_ordem_de_fabricacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Produto_da_ordem_de_fabricacao__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_peso_do_pedido</name>
        <label>Atualiza peso do pedido</label>
        <locationX>176</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>Peso_do_pedido_Kg__c</field>
            <value>
                <elementReference>PesoTotal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Order</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_produto_da_OF</name>
        <label>Atualiza produto da OF</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Obtem_itens_do_pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Produto_da_ordem_de_fabricacao__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Peso_convocado_Kg__c</field>
            <value>
                <elementReference>PesoConvocado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peso_em_OV_Kg__c</field>
            <value>
                <elementReference>PesoEmOV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peso_em_pedido_Kg__c</field>
            <value>
                <elementReference>PesoEmPedido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peso_liberado_Kg__c</field>
            <value>
                <elementReference>PesoLiberado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_convocada__c</field>
            <value>
                <elementReference>QuantidadeConvocada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_em_OV__c</field>
            <value>
                <elementReference>QuantidadeEmOV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_em_pedido__c</field>
            <value>
                <elementReference>QuantidadeEmPedido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_liberada__c</field>
            <value>
                <elementReference>QuantidadeLiberada</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Ordem_de_fabricacao__r.Produtos_da_ordem_de_fabrica_o__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtem_produtos_do_pedido</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PesoConvocado</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PesoEmOV</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PesoEmPedido</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PesoLiberado</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PesoTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantidadeConvocada</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantidadeEmOV</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantidadeEmPedido</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantidadeLiberada</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
