brametaQA/force-app/main/default/flows/Atualiza_valor_Cota_o_geral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <description>Valida o preenchimento dos campo de valor total e unitário.</description>
        <name>Valida_preenchimento</name>
        <label>Valida preenchimento</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Para que a cotação seja corretamente processada, devem ser preenchidos os campo de valor total com e sem impostos ou valor unitário com e sem impostos.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Como_calcular</name>
        <label>Como calcular</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Valida_preenchimento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Valor_Unitario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Valor_unit_rio_Sem_impostos__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Valor_unit_rio_Com_impostos__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_valor_unitario</targetReference>
            </connector>
            <label>Valor Unitário</label>
        </rules>
        <rules>
            <name>Valor_total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Valor_total_Com_impostos__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Valor_total_Sem_impostos__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_valor_total</targetReference>
            </connector>
            <label>Valor total</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escolhe_cotacao</name>
        <label>Escolhe cotação</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Como_calcular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cotacao_principal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cotacao_principal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limpa_cota_o_principal</targetReference>
            </connector>
            <label>Principal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trata_data</name>
        <label>Trata data</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Data_expirada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ExpirationDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_data</targetReference>
            </connector>
            <label>Data expirada</label>
        </rules>
    </decisions>
    <description>Incluído fórmula para atualizar o campo Valor em oportunidade somando o valor total com impostos + valor do serviço.</description>
    <environments>Default</environments>
    <formulas>
        <name>Calculavalortotalcomimpostos</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Valor_unit_rio_Com_impostos__c}*{!$Record.Quantidade_total__c}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>Calculavalortotalsemimpostos</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Valor_unit_rio_Sem_impostos__c}*{!$Record.Quantidade_total__c}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>Calculavalorunitariocomimpostos</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Valor_total_Com_impostos__c}/{!$Record.Quantidade_total__c}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>Calculavalorunitariosemimpostos</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Valor_total_Sem_impostos__c}/{!$Record.Quantidade_total__c}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>Convertepotencia</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantidade_total__c}/1000000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Fórumula criada para somar Valor_total_Com_impostos__c + Servico_de_Engenharia</description>
        <name>Somavalortotalcomservico</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Valor_total_Com_impostos__c}+{!$Record.Servi_o__c}</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>Atualiza valor - Cotação geral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza valor - Cotação geral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_data</name>
        <label>Atualiza data</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_oportunidade</name>
        <label>Atualiza oportunidade</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Trata_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_da_oportunidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Numero_da_oportunidade__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Valor_total_Com_impostos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cota_o_principal__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peso__c</field>
            <value>
                <elementReference>$Record.Peso_total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potencia_da_usina__c</field>
            <value>
                <elementReference>Convertepotencia</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_valor_total</name>
        <label>Atualiza valor total</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Limpa_cota_o_principal</targetReference>
        </connector>
        <inputAssignments>
            <field>Valor_total_Com_impostos__c</field>
            <value>
                <elementReference>Calculavalortotalcomimpostos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_total_Sem_impostos__c</field>
            <value>
                <elementReference>Calculavalortotalsemimpostos</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_valor_unitario</name>
        <label>Atualiza valor unitário</label>
        <locationX>138</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Limpa_cota_o_principal</targetReference>
        </connector>
        <inputAssignments>
            <field>Valor_unit_rio_Com_impostos__c</field>
            <value>
                <elementReference>Calculavalorunitariocomimpostos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_unit_rio_Sem_impostos__c</field>
            <value>
                <elementReference>Calculavalorunitariosemimpostos</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Define_cota_o_principal</name>
        <label>Define cotação principal</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Atualiza_oportunidade</targetReference>
        </connector>
        <inputAssignments>
            <field>Cotacao_principal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Limpa_cota_o_principal</name>
        <label>Limpa cotação principal</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Define_cota_o_principal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cotacao_principal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Escolhe_cotacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012bJ000000DLppQAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cotacao_principal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Cotacoes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
