brametaQA/force-app/main/default/flows/CONTA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Atualiza_Telefone</name>
        <label>Atualiza Telefone</label>
        <locationX>598</locationX>
        <locationY>882</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Atualiza_TEL_BR</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>TEL_Contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TEL_Contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origem_do_telefone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>+55</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_TEL</targetReference>
            </connector>
            <label>Atualiza TEL BR</label>
        </rules>
    </decisions>
    <decisions>
        <name>CNPJ_14_digitos</name>
        <label>CNPJ 14 dígitos</label>
        <locationX>604</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Valida_Telefones_BR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CNPJ_Contem_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CNPJ_Contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_CNPJ</targetReference>
            </connector>
            <label>CNPJ Contém 14</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPF_11_digitos</name>
        <label>CPF 11 dígitos</label>
        <locationX>606</locationX>
        <locationY>145</locationY>
        <defaultConnector>
            <targetReference>CNPJ_14_digitos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CPF_Contem_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPF_Contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_CPF</targetReference>
            </connector>
            <label>CPF Contém 11</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Digitos_Celular</name>
        <label>Valida Digitos Celular</label>
        <locationX>593</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Atualiza_Telefone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CEL_Contem_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CEL_Contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origem_do_telefone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>+55</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_CEL</targetReference>
            </connector>
            <label>CEL Contém 11</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Telefones_BR</name>
        <label>Valida Telefones BR</label>
        <locationX>594</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>Atualiza_CEL_diferente_BR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>País diferente BR</defaultConnectorLabel>
        <rules>
            <name>Pais_igual_BR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origem_do_telefone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>+55</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valida_Digitos_Celular</targetReference>
            </connector>
            <label>País igual BR</label>
        </rules>
    </decisions>
    <formulas>
        <name>CEL_Contagem</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.PersonMobilePhone})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CEL_diferente_BR</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!$Record.PersonMobilePhone}, &apos;+&apos;), {!$Record.PersonMobilePhone},
TEXT({!$Record.Origem_do_telefone__c}) + &apos; &apos; + {!$Record.PersonMobilePhone})</expression>
    </formulas>
    <formulas>
        <name>CEL_Formatado</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Origem_do_telefone__c}) + &apos;(&apos; + LEFT({!$Record.PersonMobilePhone}, 2) + &apos;)&apos; + MID({!$Record.PersonMobilePhone}, 3, 5)+ &apos;-&apos; + RIGHT({!$Record.PersonMobilePhone}, 4)</expression>
    </formulas>
    <formulas>
        <name>CNPJ_Contagem</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.CNPJ__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CNPJ_Formatado</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.CNPJ__c}, 2)+&apos;.&apos; + MID({!$Record.CNPJ__c}, 3, 3)+ &apos;.&apos; + MID({!$Record.CNPJ__c}, 6, 3)+ &apos;/&apos; + MID({!$Record.CNPJ__c}, 9, 4)+ &apos;-&apos; + RIGHT({!$Record.CNPJ__c}, 2)</expression>
    </formulas>
    <formulas>
        <name>CPF_Contagem</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.CPF__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CPF_Formatado</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.CPF__c}, 3)+&apos;.&apos; + MID({!$Record.CPF__c}, 4, 3)+ &apos;.&apos; + MID({!$Record.CPF__c}, 7, 3)+ &apos;-&apos; + RIGHT({!$Record.CPF__c}, 2)</expression>
    </formulas>
    <formulas>
        <name>TEL_Contagem</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.Phone})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TEL_diferente_BR</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!$Record.Phone}, &apos;+&apos;), {!$Record.Phone},
TEXT({!$Record.Origem_do_telefone__c}) + &apos; &apos; + {!$Record.Phone})</expression>
    </formulas>
    <formulas>
        <name>TEL_Formatado</name>
        <dataType>String</dataType>
        <expression>IF({!TEL_Contagem} = 11,
TEXT({!$Record.Origem_do_telefone__c}) + &apos;(&apos; + LEFT({!$Record.Phone}, 2) + &apos;)&apos; + MID({!$Record.Phone}, 3, 5)+&apos;-&apos;+ RIGHT({!$Record.Phone}, 4)
,
TEXT({!$Record.Origem_do_telefone__c}) + &apos;(&apos; + LEFT({!$Record.Phone}, 2) + &apos;)&apos; + MID({!$Record.Phone}, 3, 4)+&apos;-&apos;+ RIGHT({!$Record.Phone}, 4)
)</expression>
    </formulas>
    <interviewLabel>CONTA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Altera_propriedade_da_Conta</name>
        <label>Altera propriedade da Conta</label>
        <locationX>479</locationX>
        <locationY>305</locationY>
        <connector>
            <targetReference>CPF_11_digitos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alterar_propriedade__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Alterar_propriedade__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_CEL</name>
        <label>Atualiza CEL</label>
        <locationX>904</locationX>
        <locationY>699</locationY>
        <connector>
            <targetReference>Atualiza_Telefone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origem_do_telefone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Outros</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>CEL_Formatado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_CEL_diferente_BR</name>
        <label>Atualiza CEL diferente BR</label>
        <locationX>899</locationX>
        <locationY>522</locationY>
        <connector>
            <targetReference>Atualiza_TEL_diferente_BR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origem_do_telefone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Outros</stringValue>
            </value>
        </filters>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>CEL_diferente_BR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_CNPJ</name>
        <label>Atualiza CNPJ</label>
        <locationX>905</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>Valida_Telefones_BR</targetReference>
        </connector>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>CNPJ_Formatado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_CPF</name>
        <label>Atualiza CPF</label>
        <locationX>900</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>CNPJ_14_digitos</targetReference>
        </connector>
        <inputAssignments>
            <field>CPF__c</field>
            <value>
                <elementReference>CPF_Formatado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_TEL</name>
        <label>Atualiza TEL</label>
        <locationX>913</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origem_do_telefone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Outros</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>TEL_Formatado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_TEL_diferente_BR</name>
        <label>Atualiza TEL diferente BR</label>
        <locationX>1099</locationX>
        <locationY>522</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origem_do_telefone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Outros</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>TEL_diferente_BR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Valor_UN</name>
        <label>Atualiza Valor UN</label>
        <locationX>241</locationX>
        <locationY>363</locationY>
        <connector>
            <targetReference>Altera_propriedade_da_Conta</targetReference>
        </connector>
        <inputAssignments>
            <field>Valor_UN__c</field>
            <value>
                <elementReference>$Record.Unidade_de_Negocio__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>114</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Atualiza_Valor_UN</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4) OR 5 OR 6</filterLogic>
        <filters>
            <field>CPF__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Unidade_de_Negocio__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Alterar_propriedade__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
