brametaQA/force-app/main/default/flows/CONTATO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Atualiza_telefone</name>
        <label>Atualiza telefone</label>
        <locationX>707</locationX>
        <locationY>678</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Atualiza_TEL_BR</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>TEL_Contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TEL_Contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origem_do_telefone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>+55</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_TEL</targetReference>
            </connector>
            <label>Atualiza TEL BR</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPF_11_digitos</name>
        <label>CPF 11 dígitos</label>
        <locationX>689</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Valida_Telefones_BR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CPF_Contem_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPF_Contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_CPF</targetReference>
            </connector>
            <label>CPF Contém 11</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Digitos_Celular</name>
        <label>Valida Digitos Celular</label>
        <locationX>701</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Atualiza_telefone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CEL_Contem_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CEL_Contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origem_do_telefone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>+55</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_CEL</targetReference>
            </connector>
            <label>CEL Contém 11</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Telefones_BR</name>
        <label>Valida Telefones BR</label>
        <locationX>691</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Atualiza_CEL_diferente_BR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>País diferente BR</defaultConnectorLabel>
        <rules>
            <name>Pais_igual_BR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origem_do_telefone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>+55</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valida_Digitos_Celular</targetReference>
            </connector>
            <label>País igual BR</label>
        </rules>
    </decisions>
    <formulas>
        <name>CEL_Contagem</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.MobilePhone})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CEL_diferente_BR</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!$Record.MobilePhone}, &apos;+&apos;), {!$Record.MobilePhone},
TEXT({!$Record.Origem_do_telefone__c}) + &apos; &apos; + {!$Record.MobilePhone})</expression>
    </formulas>
    <formulas>
        <name>CEL_Formatado</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Origem_do_telefone__c}) + &apos;(&apos; + LEFT({!$Record.MobilePhone}, 2) + &apos;)&apos; + MID({!$Record.MobilePhone}, 3, 5)+ &apos;-&apos; + RIGHT({!$Record.MobilePhone}, 4)</expression>
    </formulas>
    <formulas>
        <name>CPF_Contagem</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.CPF__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CPF_Formatado</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.CPF__c}, 3)+&apos;.&apos; + MID({!$Record.CPF__c}, 4, 3)+ &apos;.&apos; + MID({!$Record.CPF__c}, 7, 3)+ &apos;-&apos; + RIGHT({!$Record.CPF__c}, 2)</expression>
    </formulas>
    <formulas>
        <name>TEL_Contagem</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.Phone})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TEL_diferente_BR</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!$Record.Phone}, &apos;+&apos;), {!$Record.Phone},
TEXT({!$Record.Origem_do_telefone__c}) + &apos; &apos; + {!$Record.Phone})</expression>
    </formulas>
    <formulas>
        <name>TEL_Formatado</name>
        <dataType>String</dataType>
        <expression>IF({!TEL_Contagem} = 11,
TEXT({!$Record.Origem_do_telefone__c}) + &apos;(&apos; + LEFT({!$Record.Phone}, 2) + &apos;)&apos; + MID({!$Record.Phone}, 3, 5)+&apos;-&apos;+ RIGHT({!$Record.Phone}, 4)
,
TEXT({!$Record.Origem_do_telefone__c}) + &apos;(&apos; + LEFT({!$Record.Phone}, 2) + &apos;)&apos; + MID({!$Record.Phone}, 3, 4)+&apos;-&apos;+ RIGHT({!$Record.Phone}, 4)
)</expression>
    </formulas>
    <interviewLabel>CONTATO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTATO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_Cargo_CONTATO</name>
        <label>Atualiza Cargo CONTATO</label>
        <locationX>507</locationX>
        <locationY>137</locationY>
        <connector>
            <targetReference>CPF_11_digitos</targetReference>
        </connector>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Cargo__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_CEL</name>
        <label>Atualiza CEL</label>
        <locationX>968</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Atualiza_telefone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origem_do_telefone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Outros</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>CEL_Formatado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_CEL_diferente_BR</name>
        <label>Atualiza CEL diferente BR</label>
        <locationX>995</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Atualiza_TEL_diferente_BR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origem_do_telefone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Outros</stringValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>CEL_diferente_BR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_CPF</name>
        <label>Atualiza CPF</label>
        <locationX>889</locationX>
        <locationY>135</locationY>
        <connector>
            <targetReference>Valida_Telefones_BR</targetReference>
        </connector>
        <inputAssignments>
            <field>CPF__c</field>
            <value>
                <elementReference>CPF_Formatado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_TEL</name>
        <label>Atualiza TEL</label>
        <locationX>979</locationX>
        <locationY>685</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origem_do_telefone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Outros</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>TEL_Formatado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_TEL_diferente_BR</name>
        <label>Atualiza TEL diferente BR</label>
        <locationX>1193</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origem_do_telefone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Outros</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>TEL_diferente_BR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>59</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Atualiza_Cargo_CONTATO</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3 OR 4 OR 5</filterLogic>
        <filters>
            <field>Cargo__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cargo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CPF__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
