brametaQA/force-app/main/default/flows/Cria_convocacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_produto_do_pedido</name>
        <label>Atribui produto do pedido</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Atualizacao_produto_do_pedido.Convocacao_de_inspecao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cria_convocacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Atualizacao_produto_do_pedido.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_de_produtos_dos_pedidos.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Atualizacao_produto_do_pedido.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Convocado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cria_colecao_de_produtos_do_pedido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cria_colecao_de_produtos_do_pedido</name>
        <label>Cria coleção de produtos do pedido</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Colecao_de_produtos_do_pedido</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Atualizacao_produto_do_pedido</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_de_produtos_dos_pedidos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Soma_peso_total</name>
        <label>Soma peso total</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Peso_total_convocado</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_de_produtos_dos_pedidos.Peso_total_do_item_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribui_produto_do_pedido</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>Convocacao_dispensada_lista</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Convocacao_dispensada__c</picklistField>
        <picklistObject>Convocacao_de_inspecao__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lista_de_opcoes_PMO</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PMO__c</picklistField>
        <picklistObject>Convocacao_de_inspecao__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Cria convocação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cria convocação</label>
    <loops>
        <name>Loop_de_produtos_dos_pedidos</name>
        <label>Loop de produtos dos pedidos</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Tabela_de_produtos.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Soma_peso_total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualiza_produtos_do_pedido</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cria_convocacao</name>
        <label>Cria convocação</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_de_produtos_dos_pedidos</targetReference>
        </connector>
        <inputAssignments>
            <field>Contrato__c</field>
            <value>
                <elementReference>recordId.Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convocacao_dispensada__c</field>
            <value>
                <elementReference>Convoca_o_dispensada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>recordId.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ordem_de_fabricacao__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PMO__c</field>
            <value>
                <elementReference>PMO</elementReference>
            </value>
        </inputAssignments>
        <object>Convocacao_de_inspecao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Ordem_de_fabricacao</name>
        <label>Ordem de fabricação</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Produto_do_pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ordem_de_fabricacao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Produto_do_pedido</name>
        <label>Produto do pedido</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convocacao_de_inspecao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ordem_de_fabricacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em OV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_convocacao</name>
        <label>Atualiza convocação</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cria_convocacao</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Peso_convocado__c</field>
            <value>
                <elementReference>Peso_total_convocado</elementReference>
            </value>
        </inputAssignments>
        <object>Convocacao_de_inspecao__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_produtos_do_pedido</name>
        <label>Atualiza produtos do pedido</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Atualiza_convocacao</targetReference>
        </connector>
        <inputReference>Colecao_de_produtos_do_pedido</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Convocacao_de_inspecao</name>
        <label>Convocação de inspeção</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Criar_convocacao</targetReference>
        </connector>
        <fields>
            <name>Convoca_o_dispensada</name>
            <choiceReferences>Convocacao_dispensada_lista</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Convocação dispensada</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Inspecao_na_fabrica</name>
            <dataType>Boolean</dataType>
            <fieldText>Inspeção na fabrica</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PMO</name>
            <choiceReferences>Lista_de_opcoes_PMO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PMO</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Criar_convocacao</name>
        <label>Criar convocação</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cria_convocacao</targetReference>
        </connector>
        <fields>
            <name>Tabela_de_produtos</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tabela de produtos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Produto_do_pedido</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Ordem_de_venda_SAP__c&quot;,&quot;guid&quot;:&quot;column-2045&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Ordem de venda SAP&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-c042&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Descrição da linha&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-b1cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantidade&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Peso_total_do_item_Kg__c&quot;,&quot;guid&quot;:&quot;column-4ad1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Peso total do item (Kg)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-fda7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ordem_de_fabricacao</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Atualizacao_produto_do_pedido</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Colecao_de_produtos_do_pedido</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Peso_total_convocado</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Ordem_de_fabricacao__c</objectType>
    </variables>
</Flow>
