brametaQA/force-app/main/default/flows/Cria_OF_do_caso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_OF_criada</name>
        <label>Atribui OF criada</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OFdoCaso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cria_OF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtem_OF_do_caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_OF_existente</name>
        <label>Atribui OF existente</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OFdoCaso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtem_item_do_caso.Ordem_de_fabricacao__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtem_OF_do_caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_peso_unitario</name>
        <label>Atribui peso unitario</label>
        <locationX>798</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>PesoUnitario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcula_peso_unitario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cria_produto_da_OF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cria_colecao</name>
        <label>Cria coleção</label>
        <locationX>798</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Produtos_da_OF</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Produto_da_OF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cria_itens_da_OF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cria_produto_da_OF</name>
        <label>Cria produto da OF</label>
        <locationX>798</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Produto_da_OF.Codigo_do_material__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cria_itens_da_OF.Codigo_do_produto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Produto_da_OF.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cria_itens_da_OF.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Produto_da_OF.Ordem_de_fabricacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OFdoCaso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Produto_da_OF.Peso_unitario_Kg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PesoUnitario</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Produto_da_OF.Quantidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cria_itens_da_OF.Quantidade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Produto_da_OF.Item_do_caso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cria_itens_da_OF.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Produto_da_OF.Observacoes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtem_item_do_caso.SAC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Produto_da_OF.Sigla__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Produto_da_OF.Tipo_de_circuito__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Produto_da_OF.Tipo_de_produto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAC - ASSISTENCIA TÉCNICA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cria_colecao</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Valida_erro</name>
        <label>Valida erro</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Falha_ao_criar_OF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sem_contrato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtem_cronograma_contratual.Contrato__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Falha_ao_criar_OF_Contrato</targetReference>
            </connector>
            <label>Sem contrato</label>
        </rules>
        <rules>
            <name>Sem_local_de_entrega</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtem_item_do_caso.Caso__r.Local_de_entrega__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtem_item_do_caso.Caso__r.Estado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Falha_ao_criar_OF_Local_de_entrega</targetReference>
            </connector>
            <label>Sem local de entrega</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_existencia_de_itens</name>
        <label>Valida existência de itens</label>
        <locationX>281</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Obtem_cronograma_contratual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contem itens</defaultConnectorLabel>
        <rules>
            <name>Nao_contem_itens</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtem_item_do_caso.Caso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensagem_sem_itens</targetReference>
            </connector>
            <label>Não contem itens</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_existencia_de_OF</name>
        <label>Valida existencia de OF</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Cria_OF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Existe_OF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtem_item_do_caso.Ordem_de_fabricacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_OF_existente</targetReference>
            </connector>
            <label>Existe OF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_itens_aptos</name>
        <label>Valida itens aptos</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Valida_existencia_de_OF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sem_itens_aptos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtem_itens_do_caso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensagem_sem_itens_aptos</targetReference>
            </connector>
            <label>Sem itens aptos</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Calcula_peso_unitario</name>
        <dataType>Number</dataType>
        <expression>{!Cria_itens_da_OF.Peso_n_o_conforme__c} / {!Cria_itens_da_OF.Quantidade__c}</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>Cria OF do caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cria OF do caso</label>
    <loops>
        <name>Cria_itens_da_OF</name>
        <label>Cria itens da OF</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <collectionReference>Obtem_itens_do_caso</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribui_peso_unitario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cria_produtos_da_OF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cria_OF</name>
        <label>Cria OF</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Atribui_OF_criada</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Valida_erro</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>APV__c</field>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caso__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato__c</field>
            <value>
                <elementReference>Obtem_cronograma_contratual.Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cronograma_contratual__c</field>
            <value>
                <elementReference>Obtem_cronograma_contratual.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_de_recebimento__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_conta__c</field>
            <value>
                <elementReference>Obtem_cronograma_contratual.Contrato__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peso_cliente_Kg__c</field>
            <value>
                <elementReference>Obtem_item_do_caso.Caso__r.Peso_total_nao_conforme_Kg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012bJ000000TFwXQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia_do_cliente__c</field>
            <value>
                <elementReference>Obtem_item_do_caso.SAC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_circuito__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <object>Ordem_de_fabricacao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_produtos_da_OF</name>
        <label>Cria produtos da OF</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Atualiza_itens_do_caso_Pre</targetReference>
        </connector>
        <inputReference>Produtos_da_OF</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obtem_cronograma_contratual</name>
        <label>Obtem cronograma contratual</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtem_itens_do_caso</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Contrato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtem_item_do_caso.Caso__r.Contrato__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_limite_para_recebimento_da_OF__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contrato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtem_item_do_caso.Caso__r.Contrato__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cronograma_contratual__c</object>
        <sortField>Data_limite_para_recebimento_da_OF__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_item_do_caso</name>
        <label>Obtem item do caso</label>
        <locationX>281</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_existencia_de_itens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Item_do_caso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_itens_do_caso</name>
        <label>Obtem itens do caso</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_itens_aptos</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ordem_de_fabricacao__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Correcao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENVIAR NOVAS PECAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Correcao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DECISÃO COMERCIAL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Situacao_do_item__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Item_do_caso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_OF_do_caso</name>
        <label>Obtem OF do caso</label>
        <locationX>710</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cria_itens_da_OF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OFdoCaso</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ordem_de_fabricacao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_caso</name>
        <label>Atualiza caso</label>
        <locationX>710</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>OF_Gerada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ordem_de_fabricacao__c</field>
            <value>
                <elementReference>OFdoCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>OF gerada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_reposi_o__c</field>
            <value>
                <stringValue>Solicitado reposição</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_itens_do_caso_Pos</name>
        <label>Atualiza itens do caso - Pos</label>
        <locationX>710</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Atualiza_caso</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Correcao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENVIAR NOVAS PECAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Correcao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DECISÃO COMERCIAL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Situacao_do_item__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Em análise</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Momento_de_geracao_da_OF__c</field>
            <value>
                <stringValue>Pós análise</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ordem_de_fabricacao__c</field>
            <value>
                <elementReference>OFdoCaso</elementReference>
            </value>
        </inputAssignments>
        <object>Item_do_caso__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_itens_do_caso_Pre</name>
        <label>Atualiza itens do caso - Pré</label>
        <locationX>710</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Atualiza_itens_do_caso_Pos</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Correcao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENVIAR NOVAS PECAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Correcao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DECISÃO COMERCIAL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Situacao_do_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em análise</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Momento_de_geracao_da_OF__c</field>
            <value>
                <stringValue>Pré análise</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ordem_de_fabricacao__c</field>
            <value>
                <elementReference>OFdoCaso</elementReference>
            </value>
        </inputAssignments>
        <object>Item_do_caso__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Falha_ao_criar_OF</name>
        <label>Falha ao criar OF</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensagem_falha_ao_criar_OF</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Falha ao criar a OF, procure o administrador do sistema.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Falha_ao_criar_OF_Contrato</name>
        <label>Falha ao criar OF - Contrato</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensagem_sem_contrato</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Falha ao criar a OF.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Sem contrato vinculado ao Caso.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Falha_ao_criar_OF_Local_de_entrega</name>
        <label>Falha ao criar OF - Local de entrega</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensagem_sem_local_de_entrega</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Falha ao criar a OF.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Local de entrega/Estado não preenchidos&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensagem_sem_itens</name>
        <label>Mensagem sem itens</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Texto_mensagem</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Favor cadastrar os itens do caso, e após isso gerar a OF.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensagem_sem_itens_aptos</name>
        <label>Mensagem sem itens aptos</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Texto_messagem_sem_itens_aptos</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Verifique se existem itens que atendem aos critérios para geração de OF:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Correção definida.&lt;/p&gt;&lt;p&gt;-Situação do item procedente ou não.&lt;/p&gt;&lt;p&gt;-Área causadora identificada.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OF_Gerada</name>
        <label>OF Gerada</label>
        <locationX>710</locationX>
        <locationY>2462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensagem_OF_gerada</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;OF gerada com sucesso!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Obtem_OF_do_caso.Name}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtem_item_do_caso</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>OFdoCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PesoUnitario</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>Produto_da_OF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Produto_da_ordem_de_fabricacao__c</objectType>
    </variables>
    <variables>
        <name>Produtos_da_OF</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Produto_da_ordem_de_fabricacao__c</objectType>
    </variables>
    <variables>
        <name>Quantidade_Item</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
