brametaQA/force-app/main/default/flows/Cria_pedido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Armazenas_codigos_de_produto</name>
        <label>Armazenas codigos de produto</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CodigosDosProdutos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obtendo_codigos_dos_produtos.Codigo_do_material__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtendo_codigos_dos_produtos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_id_da_entrada_de_preco</name>
        <label>Atribui ID da entrada de preco</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Entrada_da_tabela_de_preco</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Atribui_registros_de_entrada_de_preco</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribui_registros_de_entrada_de_preco</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_produtos</name>
        <label>Atribui produtos</label>
        <locationX>314</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Produtos_para_o_pedido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Atribui_registros_de_codigo_de_produto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribui_registros_de_codigo_de_produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cria_lista_de_produtos</name>
        <label>Cria lista de produtos</label>
        <locationX>226</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>ProdutosDoPedido</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProdutoDoPedido</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criando_produtos_do_pedido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cria_produto</name>
        <label>Cria produto</label>
        <locationX>226</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>ProdutoDoPedido.Contrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criando_produtos_do_pedido.Ordem_de_fabricacao__r.Contrato__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoDoPedido.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criando_produtos_do_pedido.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoDoPedido.Ordem_de_fabricacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criando_produtos_do_pedido.Ordem_de_fabricacao__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoDoPedido.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PedidoCriado.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoDoPedido.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entrada_da_tabela_de_preco.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoDoPedido.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Produtos_para_o_pedido.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoDoPedido.Produto_da_ordem_de_fabricacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criando_produtos_do_pedido.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoDoPedido.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoDoPedido.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entrada_da_tabela_de_preco.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoDoPedido.Data_prevista_de_expedicao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criando_produtos_do_pedido.Data_prevista_de_entrega__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoDoPedido.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criando_produtos_do_pedido.Ordem_de_fabricacao__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cria_lista_de_produtos</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Escolhe_codigo_do_produto</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Escolhe codigo do produto</label>
        <locationX>226</locationX>
        <locationY>1922</locationY>
        <assignNextValueToReference>currentItem_Escolhe_codigo_do_produto</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Obtem_produtos</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Escolhe_codigo_do_produto.ProductCode</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Criando_produtos_do_pedido.Codigo_do_material__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Atribui_registros_de_codigo_de_produto</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Escolhe_entrada_da_tabela_de_precos</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Escolhe entrada da tabela de preços</label>
        <locationX>226</locationX>
        <locationY>1514</locationY>
        <assignNextValueToReference>currentItem_Escolhe_entrada_da_tabela_de_precos</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Entradas_da_tabela_de_preco</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Escolhe_entrada_da_tabela_de_precos.ProductCode</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Criando_produtos_do_pedido.Codigo_do_material__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Atribui_registros_de_entrada_de_preco</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Valida_vigencia_do_contrato</name>
        <label>Valida vigência do contrato</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Contrato_fora_da_vigencia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Contrato_vigente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ordem_de_fabricacao.Contrato__r.EndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Produtos_da_OF</targetReference>
            </connector>
            <label>Contrato vigente</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MotivosdeOV</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Motivo_da_OV__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipodepedido</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Cria pedido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cria pedido</label>
    <loops>
        <name>Atribui_registros_de_codigo_de_produto</name>
        <label>Atribui registros de codigo de produto</label>
        <locationX>226</locationX>
        <locationY>2030</locationY>
        <collectionReference>Escolhe_codigo_do_produto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribui_produtos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cria_produto</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Atribui_registros_de_entrada_de_preco</name>
        <label>Atribui registros de entrada de preço</label>
        <locationX>226</locationX>
        <locationY>1622</locationY>
        <collectionReference>Escolhe_entrada_da_tabela_de_precos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribui_id_da_entrada_de_preco</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Escolhe_codigo_do_produto</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Criando_produtos_do_pedido</name>
        <label>Criando produtos do pedido</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <collectionReference>ProdutosDaOF.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Item_do_pedido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cria_produtos_do_pedido</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Obtendo_codigos_dos_produtos</name>
        <label>Obtendo codigos dos produtos</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>ProdutosDaOF.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Armazenas_codigos_de_produto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtem_produtos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cria_produtos_do_pedido</name>
        <label>Cria produtos do pedido</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <inputReference>ProdutosDoPedido</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Criar_o_pedido</name>
        <label>Criar o pedido</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>PedidoCriado.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Obtendo_codigos_dos_produtos</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Ordem_de_fabricacao.Contrato__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Ordem_de_fabricacao.Contrato__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Ordem_de_fabricacao.Contrato__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_da_OV__c</field>
            <value>
                <elementReference>Motivo_da_OV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ordem_de_fabricacao__c</field>
            <value>
                <elementReference>Ordem_de_fabricacao.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>EnderecoDeEntrega.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>EnderecoDeEntrega.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>EnderecoDeEntrega.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>EnderecoDeEntrega.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>EnderecoDeEntrega.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Tipo_de_pedido</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordLookups>
        <name>Entradas_da_tabela_de_preco</name>
        <label>Entradas da tabela de preço</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Criando_produtos_do_pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ordem_de_fabricacao.Contrato__r.Pricebook2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_produtos</name>
        <label>Obtem produtos</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entradas_da_tabela_de_preco</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>In</operator>
            <value>
                <elementReference>CodigosDosProdutos</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ordem_de_fabricacao</name>
        <label>Ordem de fabricação</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_vigencia_do_contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ordem_de_fabricacao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Produtos_da_OF</name>
        <label>Produtos da OF</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Criar_pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantidade_disponivel__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Ordem_de_fabricacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Produto_da_ordem_de_fabricacao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contrato_fora_da_vigencia</name>
        <label>Contrato fora da vigencia</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensagem_de_contrato_fora_da_vigencia</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;A data de início do pedido não pode ser posterior à data de término o contrato.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Criar_pedido</name>
        <label>Criar pedido</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>Dados_adicionais_do_pedido</targetReference>
        </connector>
        <fields>
            <name>ProdutosDaOF</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Produto_da_ordem_de_fabricacao__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Produtos da OF</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Produtos_da_OF</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Codigo_do_material__c&quot;,&quot;guid&quot;:&quot;column-6449&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Código do material&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f6af&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nome do Produto da ordem de fabricação&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantidade__c&quot;,&quot;guid&quot;:&quot;column-768d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantidade&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Peso_unitario_Kg__c&quot;,&quot;guid&quot;:&quot;column-5ce5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Peso unitario (Kg)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Peso_total_Kg__c&quot;,&quot;guid&quot;:&quot;column-0dae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Peso total (Kg)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Quantidade_em_pedido__c&quot;,&quot;guid&quot;:&quot;column-6e3e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Quantidade em pedido&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Quantidade_disponivel__c&quot;,&quot;guid&quot;:&quot;column-713c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Quantidade disponivel&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proximo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dados_adicionais_do_pedido</name>
        <label>Dados adicionais do pedido</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Criar_o_pedido</targetReference>
        </connector>
        <fields>
            <name>EnderecoDeEntrega</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Descricao_do_pedido</name>
            <dataType>String</dataType>
            <fieldText>Descrição do pedido</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tipo_de_pedido</name>
            <choiceReferences>Tipodepedido</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de pedido</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Motivo_da_OV</name>
            <choiceReferences>MotivosdeOV</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo da OV</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Criar pedido</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Item_do_pedido</name>
        <label>Item do pedido</label>
        <locationX>226</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Escolhe_entrada_da_tabela_de_precos</targetReference>
        </connector>
        <fields>
            <name>Item_do_pedido_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Item_do_pedido_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DetalhesDoProduto</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Código:&amp;nbsp;&lt;/strong&gt;{!Criando_produtos_do_pedido.Codigo_do_material__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Descrição:&amp;nbsp;&lt;/strong&gt;{!Criando_produtos_do_pedido.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Quantidade disponível:&amp;nbsp;&lt;/strong&gt;{!Criando_produtos_do_pedido.Quantidade_disponivel__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Item_do_pedido_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantidade</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>3</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Criar produto</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ordem_de_fabricacao</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CodigosDosProdutos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Escolhe_codigo_do_produto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Escolhe_entrada_da_tabela_de_precos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Escolhe_entrada_de_tabela_de_pre_os</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Entrada_da_tabela_de_preco</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>IDdasEntradasDeTabelaDePreco</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PedidoCriado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>ProdutoDoPedido</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Produtos_para_o_pedido</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProdutosDoPedido</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
