brametaQA/force-app/main/default/flows/Cria_contrato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_contrato_a_oportunidade</name>
        <label>Atribui contrato a oportunidade</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Ids_das_oportunidades</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Percorrer_oportunidades_adicionais.Oportunidades_adicionais_tela.recordIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Percorrer_oportunidades_adicionais</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Somar_valores_das_oportunidades</name>
        <label>Somar valores das oportunidades</label>
        <locationX>264</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Valor_total_do_contrato</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Percorrer_oportunidades_do_contrato.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Peso_total_do_contrato</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Percorrer_oportunidades_do_contrato.Peso__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Percorrer_oportunidades_do_contrato</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Brametal</name>
        <choiceText>Brametal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brametal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cliente</name>
        <choiceText>Cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_o</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>Cod_imposto</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cod_imposto__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Condicoes_de_pagamento</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condi_es_pagamento__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Frete</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frete__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipo_de_embalagem</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_embalagem__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Unidade_de_medida_de_venda</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unidade_de_medida_de_venda__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Calcula_valor_kg</name>
        <dataType>Currency</dataType>
        <expression>{!Obtem_oportunidade.Amount} / {!Obtem_oportunidade.Peso__c}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>Descricao_do_catalogo</name>
        <dataType>String</dataType>
        <expression>&quot;Catálogo de preços do contrato&quot; &amp;{!Contrato_SAP}</expression>
    </formulas>
    <formulas>
        <name>Nome_do_catalogo</name>
        <dataType>String</dataType>
        <expression>&quot;CT_&quot;&amp;{!Contrato_SAP}</expression>
    </formulas>
    <formulas>
        <name>Valor_kg_do_contrato</name>
        <dataType>Currency</dataType>
        <expression>{!Valor_total_do_contrato} / {!Peso_total_do_contrato}</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>Cria contrato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cria contrato</label>
    <loops>
        <name>Percorrer_oportunidades_adicionais</name>
        <label>Percorrer oportunidades adicionais</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <collectionReference>Busca_oportunidades.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Atribui_contrato_a_oportunidade</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualiza_oportunidades</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Percorrer_oportunidades_do_contrato</name>
        <label>Percorrer oportunidades do contrato</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <collectionReference>Obtem_oportunidades_do_contrato</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Somar_valores_das_oportunidades</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualiza_valores_do_contrato</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cria_catalogo_de_precos</name>
        <label>Cria catalogo de preços</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Criar_Contrato</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Descricao_do_catalogo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome_do_catalogo</elementReference>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_Contrato</name>
        <label>Criar Contrato</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Atualiza_oportunidade</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtem_oportunidade.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adicional_de_elementos_de_fixa_o__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Adicional_de_elementos_de_fixa_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chumbadores2__c</field>
            <value>
                <elementReference>Chumbadores2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente_faturamento__c</field>
            <value>
                <elementReference>Conta_de_faturamento.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cod_imposto__c</field>
            <value>
                <elementReference>Cod_imposto_tela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condi_es_pagamento__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Condi_o_de_pagamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>Prazo_do_contrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_SAP__c</field>
            <value>
                <elementReference>Contrato_SAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Obtem_oportunidade.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_base__c</field>
            <value>
                <elementReference>Data_Base_Reajuste</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descarga__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Descarga__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desenvolvimento_de_projeto2__c</field>
            <value>
                <elementReference>Desenvolvimento_do_projeto2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elaborar_data_book2__c</field>
            <value>
                <elementReference>Elaborar_data_book2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ensaio_de_carregamento2__c</field>
            <value>
                <elementReference>Ensaio_de_carregamento2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ensaio_n_o_destrutivo_R_Un__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Ensaio_de_carregamento_N_o_Destrutivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fian_a_banc_ria__c</field>
            <value>
                <elementReference>Fian_a_banc_ria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frete_R_Kg__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Frete_Rs_Kg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frete__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Tipo_de_frete__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantia_financeira_2__c</field>
            <value>
                <elementReference>Garantia_financeira2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guarda_de_materiais_R_Ton__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Guarda_de_materiais_R_Ton__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercado__c</field>
            <value>
                <elementReference>Obtem_oportunidade.Mercado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_da_obra__c</field>
            <value>
                <elementReference>Obtem_oportunidade.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pais__c</field>
            <value>
                <elementReference>Obtem_oportunidade.Pais__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentual_sobregalvanizacao__c</field>
            <value>
                <elementReference>Percentual_sobregalvanizacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peso_Kg__c</field>
            <value>
                <elementReference>Obtem_oportunidade.Peso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_entrega_Estrutura_Dias__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Entrega_Estrutura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_entrega_Fundacao_Dias__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Entrega_Funda_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prazo_de_entrega_Projeto_Dias__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Entrega_Projeto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Cria_catalogo_de_precos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projeto__c</field>
            <value>
                <elementReference>Projeto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setor_de_atividade__c</field>
            <value>
                <elementReference>Obtem_oportunidade.Setor_de_atividade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sobregalvaniza_o2__c</field>
            <value>
                <elementReference>Sobregalvaniza_o</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sobregalvaniza_o__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Sobregalvaniza_o__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Data_inicio_do_contrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_embalagem__c</field>
            <value>
                <elementReference>Tipo_de_embalagem_tela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unidade_de_medida_de_venda__c</field>
            <value>
                <elementReference>Unidade_de_medida_de_venda_tela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unidade_de_neg_cio__c</field>
            <value>
                <elementReference>Obtem_oportunidade.Unidade_de_Negocio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unidade_fabricante__c</field>
            <value>
                <elementReference>Obtem_oportunidade.Unidade_fabricante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Desenvolvimento_do_projeto__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Desenvolvimento_projeto_R_Un__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Ensaio_de_carregamento__c</field>
            <value>
                <elementReference>Obt_m_cota_o.Ensaio_de_carregamento_Destrutivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Kg__c</field>
            <value>
                <elementReference>Calcula_valor_kg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_total__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendedor__c</field>
            <value>
                <elementReference>Obtem_oportunidade.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ndice_de_reajuste__c</field>
            <value>
                <elementReference>Obt_m_cota_o.ndice_de_reajuste__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obt_m_cota_o</name>
        <label>Obtém cotação</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Informacoes_adicionais_do_Contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtem_oportunidade.Cota_o_principal__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_oportunidade</name>
        <label>Obtem oportunidade</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obt_m_cota_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_oportunidades_do_contrato</name>
        <label>Obtem oportunidades do contrato</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Percorrer_oportunidades_do_contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Criar_Contrato</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_oportunidade</name>
        <label>Atualiza oportunidade</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Percorrer_oportunidades_adicionais</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtem_oportunidade.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Criar_Contrato</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_oportunidades</name>
        <label>Atualiza oportunidades</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Obtem_oportunidades_do_contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Ids_das_oportunidades</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Criar_Contrato</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_valores_do_contrato</name>
        <label>Atualiza valores do contrato</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Criar_Contrato</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Peso_Kg__c</field>
            <value>
                <elementReference>Peso_total_do_contrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Kg__c</field>
            <value>
                <elementReference>Valor_kg_do_contrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_total__c</field>
            <value>
                <elementReference>Valor_total_do_contrato</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Informacoes_adicionais_do_Contrato</name>
        <label>Informações adicionais do Contrato</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cria_catalogo_de_precos</targetReference>
        </connector>
        <fields>
            <name>Titulo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informações do Contrato&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_adicionais_do_Contrato_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_adicionais_do_Contrato_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_da_oportunidade</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Nome da oportunidade: &lt;/strong&gt;{!Obtem_oportunidade.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Unidade_de_negocio</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Unidade de negocio: &lt;/strong&gt;{!Obtem_oportunidade.Unidade_de_Negocio__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_da_conta</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Nome da conta da oportunidade: &lt;/strong&gt;{!Obtem_oportunidade.Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Setor_de_atividade</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Setor de atividade: &lt;/strong&gt;{!Obtem_oportunidade.Setor_de_atividade__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_adicionais_do_Contrato_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cliente_do_contrato</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cliente do contrato&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_adicionais_do_Contrato_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contrato_SAP</name>
                    <dataType>String</dataType>
                    <fieldText>Contrato SAP</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Conta_de_faturamento</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Conta faturamento</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_adicionais_do_Contrato_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_comerciais</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Informações comerciais&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_adicionais_do_Contrato_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data_inicio_do_contrato</name>
                    <dataType>Date</dataType>
                    <fieldText>Data de inicio do contrato</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Prazo_do_contrato</name>
                    <dataType>Number</dataType>
                    <fieldText>Prazo do contrato (Meses)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fian_a_banc_ria</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>N_o</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fiança bancária</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Garantia_financeira2</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>N_o</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Garantia financeira</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data_Base_Reajuste</name>
                    <dataType>Date</dataType>
                    <fieldText>Data Base (Reajuste)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Cod_imposto_tela</name>
                    <choiceReferences>Cod_imposto</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Cod. imposto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_adicionais_do_Contrato_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_de_projeto</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informações de projeto&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_adicionais_do_Contrato_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Projeto</name>
                    <choiceReferences>Brametal</choiceReferences>
                    <choiceReferences>Cliente</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Projeto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Ensaio_de_carregamento2</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>N_o</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ensaio de carregamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Desenvolvimento_do_projeto2</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>N_o</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Desenvolvimento do projeto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tipo_de_embalagem_tela</name>
                    <choiceReferences>Tipo_de_embalagem</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo de embalagem</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Adicionais</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Adicionais&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_adicionais_do_Contrato_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Chumbadores2</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>N_o</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Chumbadores</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Sobregalvaniza_o</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>N_o</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sobregalvanização</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Elaborar_data_book2</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>N_o</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Elaborar data-book</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Especifica_es_t_cnicas</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>N_o</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Especificações técnicas</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Percentual_sobregalvanizacao</name>
                    <dataType>Number</dataType>
                    <fieldText>Percentual sobregalvanização</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_adicionais_do_Contrato_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fornecimento</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Fornecimento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informacoes_adicionais_do_Contrato_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unidade_de_medida_de_venda_tela</name>
                    <choiceReferences>Unidade_de_medida_de_venda</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Unidade de medida de venda</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informacoes_adicionais_do_Contrato_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Informacoes_adicionais</name>
                    <fieldText>Informações adicionais</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Oportunidades_adicionais</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Oportunidades adicionais&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Busca_oportunidades</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Oportunidades_adicionais_tela</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>OpportunityId</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Quote</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Oportunidade adicional</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtem_oportunidade</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Ids_das_oportunidades</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Peso_total_do_contrato</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Valor_total_do_contrato</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
