brametaQA/force-app/main/default/flows/Cria_Atualiza_produto_do_pedido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>calculaPrecoUnitario</name>
        <dataType>Currency</dataType>
        <expression>{!Obt_m_dados_produto_do_pedido.Peso_unit_rio_do_item_kg__c} * {!Obt_m_dados_produto_do_pedido.Contrato__r.Valor_Kg__c}</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>Cria/Atualiza produto do pedido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cria/Atualiza produto do pedido</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obt_m_dados_produto_do_pedido</name>
        <label>Obtém dados produto do pedido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_pre_o_unit_rio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_pre_o_unit_rio</name>
        <label>Atualiza preço unitário</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>calculaPrecoUnitario</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obt_m_dados_produto_do_pedido</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
