brametaQA/force-app/main/default/flows/Data_de_correcao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Valida_Correcao</name>
        <label>Valida Correção</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sem_Correcao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Correcao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEM DEFINIÇÃO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Correcao__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limpa_Data</targetReference>
            </connector>
            <label>Sem Correção</label>
        </rules>
        <rules>
            <name>Com_Correcao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Correcao__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SEM DEFINIÇÃO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Data</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Com Correção</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Limpa_Data_Form</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>Data de correção {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data de correção</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_Data</name>
        <label>Atualiza Data</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Data_de_Correcao__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Limpa_Data</name>
        <label>Limpa Data</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Data_de_Correcao__c</field>
            <value>
                <elementReference>Limpa_Data_Form</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valida_Correcao</targetReference>
        </connector>
        <object>Item_do_caso__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
