brametaQA/force-app/main/default/flows/Envio_Email_Engenharia_OPP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_OPP_GAL_Engenharia</name>
        <label>Email_OPP_GAL_Engenharia</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Email_OPP_GAL_Engenharia</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_OPP_GAL_Engenharia</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_OPP_IP_Engenharia</name>
        <label>Email_OPP_IP_Engenharia</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Email_OPP_IP_Engenharia</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_OPP_IP_Engenharia</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_OPP_LE_SE_Engenharia</name>
        <label>Email_OPP_LE_SE_Engenharia</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Email_OPP_LE_SE_Engenharia</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_OPP_LE_SE_Engenharia</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_OPP_SOLAR_Engenharia</name>
        <label>Email_OPP_SOLAR_Engenharia</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Email_OPP_SOLAR_Engenharia</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_OPP_SOLAR_Engenharia</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_OPP_TELECOM_Engenharia</name>
        <label>Email_OPP_TELECOM_Engenharia</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Email_OPP_TELECOM_Engenharia</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_OPP_TELECOM_Engenharia</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Unidade_de_Negocio</name>
        <label>Unidade de Negocio</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Email_OPP_GAL_Engenharia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>LT_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unidade_de_Negocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LT-SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engenharia/qualidade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_OPP_LE_SE_Engenharia</targetReference>
            </connector>
            <label>LT_SE</label>
        </rules>
        <rules>
            <name>Solar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unidade_de_Negocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engenharia/qualidade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_OPP_SOLAR_Engenharia</targetReference>
            </connector>
            <label>Solar</label>
        </rules>
        <rules>
            <name>IP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unidade_de_Negocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engenharia/qualidade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_OPP_IP_Engenharia</targetReference>
            </connector>
            <label>IP</label>
        </rules>
        <rules>
            <name>Telecom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unidade_de_Negocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telecom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engenharia/qualidade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_OPP_TELECOM_Engenharia</targetReference>
            </connector>
            <label>Telecom</label>
        </rules>
    </decisions>
    <description>Quando a fase é alterada para engenharia, o sistema envia e-mail de alerta.</description>
    <interviewLabel>Envio_Email_Engenharia_OPP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envio_Email_Engenharia_OPP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Unidade_de_Negocio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engenharia/qualidade</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
