brametaQA/force-app/main/default/flows/FLIncluirItemOrdemFabricacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>attrOrdemFabricacao</name>
        <label>attrOrdemFabricacao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SObjOrdemItemFabricacao</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjOrdemItemFabricacao.Ordem_de_fabricacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjOrdemItemFabricacao.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterProdutoSelecionado.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjOrdemItemFabricacao.Sigla__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterProdutoSelecionado.Sigla__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjOrdemItemFabricacao.Codigo_do_material__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterProdutoSelecionado.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjOrdemItemFabricacao.Exclusivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtExclusivo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjOrdemItemFabricacao.Peso_unitario_Kg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterProdutoSelecionado.Peso_da_unidade_em_kg__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <description>formação de chave exclusiva para itens da ordem de fabricação</description>
        <name>txtExclusivo</name>
        <dataType>String</dataType>
        <expression>{!ObterOrdemFabricacao.Name}+&apos;-&apos;+{!SObjOrdemItemFabricacao.Name}+&apos;-&apos;+{!SObjOrdemItemFabricacao.Codigo_do_material__c}</expression>
    </formulas>
    <interviewLabel>FL Incluir Item Ordem de fabricação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Incluir Item Ordem de fabricação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_Item_Fabricacao</name>
        <label>Criar Item Fabricacao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>falha</targetReference>
        </faultConnector>
        <inputReference>SObjOrdemItemFabricacao</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obter_Produtos_Contrato</name>
        <label>Obter Produtos do Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterOrdemFabricacao.Contrato__r.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0055f00000CuSSuAAN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterOrdemFabricacao</name>
        <label>Obter Ordem Fabricação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Produtos_Contrato</targetReference>
        </connector>
        <faultConnector>
            <targetReference>falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ordem_de_fabricacao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterProdutoSelecionado</name>
        <label>Obter Produto selecionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>attrOrdemFabricacao</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>produtoSelecionado.firstSelectedRow.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>falha</name>
        <label>falha</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg_falha</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(212, 18, 18);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObterProdutoSelecionado</targetReference>
        </connector>
        <fields>
            <name>produtoSelecionado</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PricebookEntry</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selecione o produto desejado</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Obter_Produtos_Contrato</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;PricebookEntry&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Obter_Produtos_Contrato&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f8c2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Nome do produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProductCode&quot;,&quot;guid&quot;:&quot;column-8a41&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Código do produto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-3702&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;PricebookEntry&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;,&quot;ProductCode&quot;],&quot;elementReference&quot;:&quot;Obter_Produtos_Contrato&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Criar_Item_Fabricacao</targetReference>
        </connector>
        <fields>
            <name>Campos</name>
            <fieldText>{!SObjOrdemItemFabricacao.Name}</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Campos_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SObjOrdemItemFabricacao.Tipo_de_produto__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SObjOrdemItemFabricacao.Sigla__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SObjOrdemItemFabricacao.Codigo_do_material__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SObjOrdemItemFabricacao.Tipo_de_circuito__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SObjOrdemItemFabricacao.Item_do_caso__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SObjOrdemItemFabricacao.Data_prevista_de_entrega__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SObjOrdemItemFabricacao.Peso_unitario_Kg__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SObjOrdemItemFabricacao.Quantidade__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SObjOrdemItemFabricacao.Engenharia__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SObjOrdemItemFabricacao.Observacoes__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterOrdemFabricacao</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SObjOrdemItemFabricacao</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Produto_da_ordem_de_fabricacao__c</objectType>
    </variables>
</Flow>
