brametaQA/force-app/main/default/flows/ITEM_COTA_O_PUXAR_IMPOSTOS_OK.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>ITEM COTAÇÃO - PUXAR IMPOSTOS OK {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ITEM COTAÇÃO - PUXAR IMPOSTOS OK</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Impostos_do_Produto</name>
        <label>Impostos do Produto</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_Linha_da_Cotacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imposto_do_Produto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Linha_da_Cotacao</name>
        <label>Atualiza Linha da Cotação</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>COFINS__c</field>
            <value>
                <elementReference>Impostos_do_Produto.COFINS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DIFAL__c</field>
            <value>
                <elementReference>Impostos_do_Produto.DIFAL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICMS__c</field>
            <value>
                <elementReference>Impostos_do_Produto.ICMS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPI__c</field>
            <value>
                <elementReference>Impostos_do_Produto.IPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mostrar_COFINS__c</field>
            <value>
                <elementReference>$Record.Product2.COFINS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mostrar_DIFAL__c</field>
            <value>
                <elementReference>$Record.Product2.DIFAL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mostrar_ICMS__c</field>
            <value>
                <elementReference>$Record.Product2.ICMS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mostrar_IPI__c</field>
            <value>
                <elementReference>$Record.Product2.IPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mostrar_PIS__c</field>
            <value>
                <elementReference>$Record.Product2.PIS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIS__c</field>
            <value>
                <elementReference>Impostos_do_Produto.PIS__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Impostos_do_Produto</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
