brametaQA/force-app/main/default/flows/ITEM_COTACAO_CALCULAR_IMPOSTOS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Se não, busca o DIFAL do Imposto do Produto</description>
        <name>E_contribuinte_DIFAL</name>
        <label>É contribuinte? DIFAL</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Atualiza_Preco_do_Produto_e_Quantidade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.E_contribuinte__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.E_contribuinte__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DIFAL</targetReference>
            </connector>
            <label>Não</label>
        </rules>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.E_contribuinte__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zera_DIFAL</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Possui_ICMS</name>
        <label>Possui ICMS?</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Possui_REIDI_SUFRAMA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado Padrão</defaultConnectorLabel>
        <rules>
            <name>Cobra_ICMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Possui_ICMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Possui_ICMS__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ICMS</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>ICMSNao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Possui_ICMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zera_ICMS</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Possui_IPI</name>
        <label>Possui IPI?</label>
        <locationX>578</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Preco_Unit_final</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão (Não)</defaultConnectorLabel>
        <rules>
            <name>ComIPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Possui_IPI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPI</targetReference>
            </connector>
            <label>Com IPI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Possui_REIDI_SUFRAMA</name>
        <label>Possui REIDI/SUFRAMA?</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>E_contribuinte_DIFAL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim_REIDI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Possui_REIDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Possui_SUFRAMA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zera_PIS_e_COFINS_0_0</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
        <rules>
            <name>REIDINao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Possui_REIDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Possui_SUFRAMA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REIDI_SUFRAMA</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Servi_o</name>
        <label>Serviço</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Possui_ICMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim_servico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote.Opportunity.Setor_de_atividade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Serviço de galvanização para terceiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_pre_o_sem_imposto</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Calculaprecosemimpostos</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.UnitPrice} * {!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Calculo_Com_IPI</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.XPreco_Unit_s_Imposto__c}  / ( ({!$Record.XPreco_Unit_s_Imposto__c} - {!IPI_PIS} - {!IPI_COFINS} - {!IPI_DIFAL} - {!IPI_Comissao} - {!IPI_ICMS}) / {!ValorComIPI} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Calculo_Com_IPI_unid</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.XPreco_unitario_da_unidade__c} / ( ({!Preco_Unit_s_Imposto} - {!IPI_PIS} - {!IPI_COFINS} - {!IPI_DIFAL} - {!IPI_Comissao} - {!IPI_ICMS}) / {!ValorComIPI} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Calculo_Sem_IPI</name>
        <dataType>Currency</dataType>
        <expression>({!Preco_Unit_s_Imposto}/ ((100 - (({!$Record.PIS__c} + {!$Record.COFINS__c}) * 100)) / 100)) / ((100 - (({!$Record.ICMS__c} + {!$Record.DIFAL__c} + {!$Record.Comissao__c}) * 100)) / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IPI_COFINS</name>
        <dataType>Currency</dataType>
        <expression>(({!$Record.XPreco_Unit_s_Imposto__c} - {!IPI_ICMS}) * {!$Record.COFINS__c}) / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IPI_Comissao</name>
        <dataType>Currency</dataType>
        <expression>({!ValorComIPI} * {!$Record.Comissao__c}) /100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IPI_DIFAL</name>
        <dataType>Currency</dataType>
        <expression>({!ValorComIPI} * {!$Record.DIFAL__c}) /100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IPI_ICMS</name>
        <dataType>Currency</dataType>
        <expression>IF( ISPICKVAL({!$Record.Possui_IPI__c}, &apos;Consumo&apos;),
(({!$Record.XPreco_Unit_s_Imposto__c} + (({!$Record.XPreco_Unit_s_Imposto__c} * {!IPI.IPI__c} ) / 100 )) * {!$Record.ICMS__c}) / 100, 
({!Preco_Unit_s_Imposto} * {!$Record.ICMS__c}) / 100
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IPI_PIS</name>
        <dataType>Currency</dataType>
        <expression>(({!$Record.XPreco_Unit_s_Imposto__c} - {!IPI_ICMS}) * {!$Record.PIS__c}) / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Markup</name>
        <dataType>Number</dataType>
        <expression>{!MarkupPreco} / {!ValorComIPI}</expression>
        <scale>7</scale>
    </formulas>
    <formulas>
        <name>Markup_DIFAL</name>
        <dataType>Number</dataType>
        <expression>(100 - ({!$Record.ICMS__c} + {!$Record.DIFAL__c}))/ 100</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>Markup_ICMS</name>
        <dataType>Number</dataType>
        <expression>(100 - {!$Record.ICMS__c}) / 100</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>Markup_PIS_COFINS</name>
        <dataType>Number</dataType>
        <expression>(100 - ({!$Record.PIS__c} + {!$Record.COFINS__c}))/ 100</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>MarkupPreco</name>
        <dataType>Currency</dataType>
        <expression>{!ValorComIPI} - (({!Preco_Unit_s_Imposto} * {!IPI.IPI__c} ) / 100 )  - {!$Record.Valor_PIS__c} - {!$Record.Valor_COFINS__c} - {!$Record.Valor_ICMS__c} - {!$Record.Valor_DIFAL__c} - {!$Record.Valor_comissao__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Peso_Total_kg</name>
        <dataType>Number</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.Product2.Family} , &apos;IP&apos;),
    {!$Record.Product2.Peso_da_unidade_em_kg__c} * {!$Record.Total_de_Unidades__c},
    IF(
       ISPICKVAL({!$Record.Product2.Family} , &apos;Galvanização para terceiros&apos;),
       0,
	     IF(
            ISPICKVAL({!$Record.Product2.Family} , &apos;Solar&apos;),
	    	{!$Record.Peso_total_Kg__c},
		    {!$Record.Total_de_Unidades__c} * {!$Record.Quantidade_por_unidade__c}
		   )
	  )
   )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Preco_Unit_s_Imposto</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Preco_inicial_do_produto__c} + {!$Record.Frete__c} +  {!$Record.Transporte_s_impostos__c} + {!$Record.Pintura_s_impostos__c} +{!$Record.Montagem_s_impostos__c} + {!$Record.Infraestrutura_s_impostos__c} + {!$Record.Fundacao_s_impostos__c} +{!$Record.Acessorios_s_impostos__c} + {!$Record.Embalagem_por_componente_s_impostos__c} +{!$Record.Sobre_Galvanizacao_s_impostos__c} + {!$Record.Ensaio__c} + {!$Record.Projeto__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Preco_Unit_s_Imposto_unid</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Preco_unitario_da_unidade__c} + {!$Record.Frete__c} +   {!$Record.Pintura_s_impostos__c} +{!$Record.Montagem_s_impostos__c} + {!$Record.Infraestrutura_s_impostos__c} + {!$Record.Fundacao_s_impostos__c} +{!$Record.Acessorios_s_impostos__c} + {!$Record.Embalagem_por_componente_s_impostos__c} +{!$Record.Sobre_Galvanizacao_s_impostos__c} + {!$Record.Ensaio__c} + {!$Record.Projeto__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Preco_Unitario_da_Unidade</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Quantidade_por_unidade__c} * {!$Record.Preco_Unit_s_Imposto__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoTotalComImpostos</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Preco_Unit_final__c} * {!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitarioComIPI</name>
        <dataType>Currency</dataType>
        <expression>{!Preco_Unit_s_Imposto} + {!$Record.Valor_IPI__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Preco_Unit_s_Imposto__c} / {!$Record.Markup_PIS_COFINS__c}) / {!$Record.Markup_ICMS__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto_DIFAL</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Preco_Unit_s_Imposto__c} / {!$Record.Markup_PIS_COFINS__c}) / {!$Record.Markup_DIFAL__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto_DIFAL_IPI</name>
        <dataType>Currency</dataType>
        <expression>{!Preco_Unit_s_Imposto} + {!$Record.SUMPISCOFINS__c} + {!$Record.Valor_ICMS__c} + {!$Record.Valor_DIFAL__c} + {!$Record.Valor_IPI__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto_DIFAL_UN</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Preco_unitario_da_unidade__c} / {!$Record.Markup_PIS_COFINS__c}) / {!$Record.Markup_DIFAL__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto_IPI</name>
        <dataType>Currency</dataType>
        <expression>{!Preco_Unit_s_Imposto} / {!$Record.MarkupCalculo__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto_REIDI</name>
        <dataType>Currency</dataType>
        <expression>{!Preco_Unit_s_Imposto} / {!$Record.Markup_ICMS__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto_REIDI_DIFAL</name>
        <dataType>Currency</dataType>
        <expression>{!Preco_Unit_s_Imposto} / {!$Record.Markup_DIFAL__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto_REIDI_DIFAL_IPI</name>
        <dataType>Currency</dataType>
        <expression>{!Preco_Unit_s_Imposto} +  {!$Record.Valor_ICMS__c} + {!$Record.Valor_DIFAL__c} + {!$Record.Valor_IPI__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto_REIDI_DIFAL_UN</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Preco_unitario_da_unidade__c} / {!$Record.Markup_DIFAL__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto_REIDI_IPI</name>
        <dataType>Currency</dataType>
        <expression>{!Preco_Unit_s_Imposto} + {!$Record.Valor_ICMS__c} + {!$Record.Valor_IPI__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto_REIDI_UN</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Preco_unitario_da_unidade__c} / {!$Record.Markup_ICMS__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrecoUnitc_Imposto_UN</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Preco_unitario_da_unidade__c} / {!$Record.Markup_PIS_COFINS__c}) / {!$Record.Markup_ICMS__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quantidadetotal</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Total_de_Unidades__c} * {!$Record.Quantidade_por_unidade__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ValorComIPI</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.XPreco_Unit_s_Imposto__c} + (({!$Record.XPreco_Unit_s_Imposto__c} * {!IPI.IPI__c} ) / 100 )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ITEM COTAÇÃO - CALCULAR IMPOSTOS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ITEM COTAÇÃO - CALCULAR IMPOSTOS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Busca DIFAL do Imposto do Produto, caso o campo &quot;É contribuinte?&quot; esteja preenchido</description>
        <name>DIFAL</name>
        <label>DIFAL</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_DIFAL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imposto_do_Produto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca ICMS do Imposto do Produto, caso o campo &quot;Possui ICMS?&quot; esteja preenchido com SIM</description>
        <name>ICMS</name>
        <label>ICMS</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_ICMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imposto_do_Produto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca IPI do Imposto do Produto, caso o campo &quot;Possui IPI?&quot; esteja preenchido com Sim</description>
        <name>IPI</name>
        <label>IPI</label>
        <locationX>446</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_IPI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imposto_do_Produto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca PIS e COFINS do Imposto do Produto, caso o campo &quot;Possui REIDI?&quot; esteja preenchido com NÃO</description>
        <name>REIDI_SUFRAMA</name>
        <label>REIDI/SUFRAMA</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_PIS_e_COFINS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imposto_do_Produto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Busca DIFAL e Mostrar DIFAL do Imposto do Produto</description>
        <name>Atualiza_DIFAL</name>
        <label>Atualiza DIFAL</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Atualiza_Preco_do_Produto_e_Quantidade</targetReference>
        </connector>
        <inputAssignments>
            <field>DIFAL__c</field>
            <value>
                <elementReference>DIFAL.DIFAL__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Busca ICMS do Imposto do Produto</description>
        <name>Atualiza_ICMS</name>
        <label>Atualiza ICMS</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Possui_REIDI_SUFRAMA</targetReference>
        </connector>
        <inputAssignments>
            <field>ICMS__c</field>
            <value>
                <elementReference>ICMS.ICMS__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Busca IPI e Mostrar IPI do Imposto do Produto</description>
        <name>Atualiza_IPI</name>
        <label>Atualiza IPI</label>
        <locationX>446</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Preco_Unit_final_C_IPI</targetReference>
        </connector>
        <inputAssignments>
            <field>IPI__c</field>
            <value>
                <elementReference>IPI.IPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Peso_total_kg</name>
        <label>Atualiza Peso total (kg)</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Possui_IPI</targetReference>
        </connector>
        <inputAssignments>
            <field>Peso_total_Kg__c</field>
            <value>
                <elementReference>Peso_Total_kg</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Busca PIS e COFINS do Imposto do Produto</description>
        <name>Atualiza_PIS_e_COFINS</name>
        <label>Atualiza PIS e COFINS</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>E_contribuinte_DIFAL</targetReference>
        </connector>
        <inputAssignments>
            <field>COFINS__c</field>
            <value>
                <elementReference>REIDI_SUFRAMA.COFINS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIS__c</field>
            <value>
                <elementReference>REIDI_SUFRAMA.PIS__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_pre_o_sem_imposto</name>
        <label>Atualiza preço sem imposto</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Preco_total_com_impostos__c</field>
            <value>
                <elementReference>Calculaprecosemimpostos</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Preco_do_Produto_e_Quantidade</name>
        <label>Atualiza Preço do Produto e Quantidade</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Atualiza_Peso_total_kg</targetReference>
        </connector>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Quantidadetotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.XPreco_Unit_s_Imposto__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preco_total_com_impostos</name>
        <label>Preço total com impostos</label>
        <locationX>710</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>Preco_total_com_impostos__c</field>
            <value>
                <elementReference>PrecoTotalComImpostos</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preco_Total_Com_Impostos_IPI</name>
        <label>Preço Total Com Impostos IPI</label>
        <locationX>446</locationX>
        <locationY>2303</locationY>
        <inputAssignments>
            <field>Preco_total_com_impostos__c</field>
            <value>
                <elementReference>PrecoTotalComImpostos</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preco_Unit_final</name>
        <label>Preço Unit final</label>
        <locationX>710</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Preco_total_com_impostos</targetReference>
        </connector>
        <inputAssignments>
            <field>IPI__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preco_Unit_final__c</field>
            <value>
                <elementReference>$Record.CalculoSemIPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preco_Unit_final_unid__c</field>
            <value>
                <elementReference>$Record.Calculo_Sem_IPI_unid__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Preco_Unit_final_C_IPI</name>
        <label>Preço Unit final c/ IPI</label>
        <locationX>446</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Preco_Total_Com_Impostos_IPI</targetReference>
        </connector>
        <inputAssignments>
            <field>MarkupCalculo__c</field>
            <value>
                <elementReference>Markup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preco_Unit_final__c</field>
            <value>
                <elementReference>Calculo_Com_IPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preco_Unit_final_unid__c</field>
            <value>
                <elementReference>Calculo_Com_IPI_unid</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Zera_DIFAL</name>
        <label>Zera DIFAL</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Atualiza_Preco_do_Produto_e_Quantidade</targetReference>
        </connector>
        <inputAssignments>
            <field>DIFAL__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Zera_ICMS</name>
        <label>Zera ICMS</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Possui_REIDI_SUFRAMA</targetReference>
        </connector>
        <inputAssignments>
            <field>ICMS__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Zera_PIS_e_COFINS_0_0</name>
        <label>Zera PIS e COFINS</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>E_contribuinte_DIFAL</targetReference>
        </connector>
        <inputAssignments>
            <field>COFINS__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIS__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Servi_o</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
