brametaQA/force-app/main/default/flows/OPORTUNIDADE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opp_to_updadeOpps</name>
        <label>Add Opp to updadeOpps</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>updateOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OPP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OPP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fase_Fechada</name>
        <label>Fase Fechada</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_OPP.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fechado e perdido</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OPP.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OPP.Outros_motivos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Perda de Certame</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_to_updadeOpps</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FechadoPerdido</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fechado e perdido</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Ganho_ou_reaberto</name>
        <label>Ganho ou reaberto</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Limpar_Motivo_da_perda</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reaberto</defaultConnectorLabel>
        <rules>
            <name>Ganho</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certame vencido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fechado e ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fechado/Contrato assinado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limpar_Motivo_da_perda_0</targetReference>
            </connector>
            <label>Ganho</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidacaoFases</name>
        <label>Validação de Fases</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Renegociacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renegociação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Oportunidades</targetReference>
            </connector>
            <label>Renegociação</label>
        </rules>
        <rules>
            <name>Nova_Opp</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>OppIsNew</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Projeto__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Novo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Projeto__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perdido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateProjetoAndamento</targetReference>
            </connector>
            <label>Nova Opp</label>
        </rules>
        <rules>
            <name>Perde_Depois_Ganha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certame vencido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fechado e perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Projeto__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProjetoPerdido</targetReference>
            </connector>
            <label>Perde Depois de Ganha</label>
        </rules>
        <rules>
            <name>Reaberta_Ganha_apos_Perda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fechado e perdido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ganho_ou_reaberto</targetReference>
            </connector>
            <label>Reaberta/Ganha apos Perda</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OppIsNew</name>
        <dataType>Boolean</dataType>
        <expression>!ISNEW()</expression>
    </formulas>
    <interviewLabel>OPORTUNIDADE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORTUNIDADE</label>
    <loops>
        <name>Loop_OPP</name>
        <label>Loop OPP</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Obter_Oportunidades</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fase_Fechada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualiza_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Oportunidades</name>
        <label>Obter Oportunidades</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Projeto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Projeto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Opps</name>
        <label>Atualiza Opps</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Atualiza_Projeto</targetReference>
        </connector>
        <inputReference>updateOpps</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Projeto</name>
        <label>Atualiza Projeto</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Limpar_Motivo_da_perda_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Projeto__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </inputAssignments>
        <object>Projeto__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Limpar_Motivo_da_perda</name>
        <label>Limpar Motivo da perda</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Projeto_Perdido</targetReference>
        </connector>
        <inputAssignments>
            <field>Outros_motivos__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Limpar_Motivo_da_perda_0</name>
        <label>Limpar Motivo da perda</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Projeto_Finalizado</targetReference>
        </connector>
        <inputAssignments>
            <field>Outros_motivos__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Limpar_Motivo_da_perda_1</name>
        <label>Limpar Motivo da perda</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Outros_motivos__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Projeto_Finalizado</name>
        <label>Projeto Finalizado</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Projeto__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </inputAssignments>
        <object>Projeto__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Projeto_Perdido</name>
        <label>Projeto Perdido</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Projeto__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Em andamento</stringValue>
            </value>
        </inputAssignments>
        <object>Projeto__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ProjetoPerdido</name>
        <label>Projeto Perdido</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Projeto__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Perdido</stringValue>
            </value>
        </inputAssignments>
        <object>Projeto__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateProjetoAndamento</name>
        <label>Atualizar Projeto em Andamento</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Projeto__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Em andamento</stringValue>
            </value>
        </inputAssignments>
        <object>Projeto__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ValidacaoFases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Projeto__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updateOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
