brametaQA/force-app/main/default/flows/Pedido_Criado_Atualizado_Atualiza_Caso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Status_do_pedido</name>
        <label>Status do pedido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Atualiza_status_Ativado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ativado</defaultConnectorLabel>
        <rules>
            <name>Rascunho</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_status_Rascunho</targetReference>
            </connector>
            <label>Rascunho</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_registro_da_OF</name>
        <label>Tipo de registro da OF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>OF PRD</defaultConnectorLabel>
        <rules>
            <name>OF_SAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obt_m_Ordem_de_fabrica_o.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012bJ000000TFwXQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obt_m_caso_relacionado</targetReference>
            </connector>
            <label>OF SAC</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConverteOvParaNumero</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.Ordem_de_venda_SAP__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Pedido Criado/Atualizado - Atualiza Caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido Criado/Atualizado - Atualiza Caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obt_m_caso_relacionado</name>
        <label>Obtém caso relacionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_refer_ncia_de_reposi_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obt_m_Ordem_de_fabrica_o.Caso__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obt_m_Ordem_de_fabrica_o</name>
        <label>Obtém Ordem de fabricação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_registro_da_OF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ordem_de_fabricacao__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ordem_de_fabricacao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_refer_ncia_de_reposi_o</name>
        <label>Atualiza referência de reposição</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_do_pedido</targetReference>
        </connector>
        <inputAssignments>
            <field>Numero_referencia_para_reposicao__c</field>
            <value>
                <elementReference>ConverteOvParaNumero</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Ordem_de_fabricacao__r.Casos__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_status_Ativado</name>
        <label>Atualiza status - Ativado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status_reposi_o__c</field>
            <value>
                <stringValue>Pedido Ativado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Ordem_de_fabricacao__r.Caso__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_status_Rascunho</name>
        <label>Atualiza status - Rascunho</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status_reposi_o__c</field>
            <value>
                <stringValue>Pedido em Rascunho</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Ordem_de_fabricacao__r.Caso__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obt_m_Ordem_de_fabrica_o</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
