brametaQA/force-app/main/default/flows/Pedido_Criado_Atualizado_Atualiza_OF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_pesos</name>
        <label>Atribui pesos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Obt_m_OF.Peso_pedidos_gerados__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PesoTotalPedido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obt_m_OF.Ordens_de_Venda_Geradas_Kg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SomaPesoOV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_OF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SomaPesoOVs</name>
        <label>SomaPesoOVs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SomaPesoOV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.Peso_do_pedido_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SomaPesoPedido</name>
        <label>SomaPesoPedido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Peso_do_pedido_Kg__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SomaPesoPedidos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pedido_OV</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Pedido_OV</name>
        <label>Pedido/OV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SomaPesoOVs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OV</defaultConnectorLabel>
        <rules>
            <name>Pedido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Ordem_de_venda_SAP__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>Pedido</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PesoTotalPedido</name>
        <dataType>Number</dataType>
        <expression>{!SomaPesoOV} + {!SomaPesoPedidos}</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>Pedido Criado/Atualizado Atualiza OF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pedido Criado/Atualizado Atualiza OF</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop em pedidos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obt_m_pedidos_irm_os</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SomaPesoPedido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atribui_pesos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obt_m_OF</name>
        <label>Obtém OF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obt_m_pedidos_irm_os</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ordem_de_fabricacao__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ordem_de_fabricacao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obt_m_pedidos_irm_os</name>
        <label>Obtém pedidos irmãos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ordem_de_fabricacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obt_m_OF.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <sortField>OrderNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_OF</name>
        <label>Atualiza OF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Obt_m_OF</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obt_m_OF</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>SomaPesoOV</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>SomaPesoPedidos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
</Flow>
