brametaQA/force-app/main/default/flows/PROJETO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opp_to_updadeOpps</name>
        <label>Add Opp to updadeOpps</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>updateOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fase_Fechada</name>
        <label>Fase Fechada</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>LoopOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fechado e perdido</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopOpp.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopOpp.Outros_motivos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Perda de Certame</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_to_updadeOpps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>MudancasProjeto</name>
        <label>Mudanças do Projeto</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Perdido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em andamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perdido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oportunidades_Abertas</targetReference>
            </connector>
            <label>Perdido</label>
        </rules>
    </decisions>
    <description>Flow para tratar ações estimuladas pelos registros de projetos</description>
    <interviewLabel>PROJETO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROJETO</label>
    <loops>
        <name>LoopOpp</name>
        <label>LoopOpp</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Oportunidades_Abertas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fase_Fechada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualiza_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Oportunidades_Abertas</name>
        <label>Oportunidades Abertas</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Projeto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fechado e perdido</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Opps</name>
        <label>Atualiza Opps</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>updateOpps</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MudancasProjeto</targetReference>
        </connector>
        <object>Projeto__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>updateOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
