brametaQA/force-app/main/default/flows/RecordTriggerflow_Caso_sequenciaSAC_Anual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribuir</name>
        <label>Atribuir</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSequencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNumeroExtraidoFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Montar_SAC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Definir_o_ano_atual</name>
        <label>Definir o ano atual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAnoAtual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAnoAtual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAnoTexto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAnoTexto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_o_ultimo_SAC_do_ano_atual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Montar_SAC</name>
        <label>Montar SAC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.SAC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sac</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>teste</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sequencia_Inicial</name>
        <label>Sequência Inicial</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSequencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Montar_SAC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Encontrou</name>
        <label>Encontrou?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Sequencia_Inicial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Encontrou_sac</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_o_ultimo_SAC_do_ano_atual.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir</targetReference>
            </connector>
            <label>Encontrou sac</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fAnoAtual</name>
        <dataType>Number</dataType>
        <expression>YEAR(DATEVALUE($Record.CreatedDate))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fAnoTexto</name>
        <dataType>String</dataType>
        <expression>RIGHT(
    TEXT(YEAR(DATEVALUE($Record.CreatedDate))),
    2
)</expression>
    </formulas>
    <formulas>
        <name>fNumeroExtraido</name>
        <dataType>String</dataType>
        <expression>LEFT({!Buscar_o_ultimo_SAC_do_ano_atual.SAC__c}, 5)</expression>
    </formulas>
    <formulas>
        <name>fNumeroExtraidoFormula</name>
        <dataType>Number</dataType>
        <expression>VALUE({!fNumeroExtraido}) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>sac</name>
        <dataType>String</dataType>
        <expression>RIGHT(&quot;00000&quot; &amp; TEXT({!varSequencia}), 5)
&amp; &quot;/&quot;
&amp; {!varAnoTexto}</expression>
    </formulas>
    <interviewLabel>RecordTriggerflow- Caso- sequenciaSAC Anual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordTriggerflow- Caso- sequenciaSAC Anual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_o_ultimo_SAC_do_ano_atual</name>
        <label>Buscar o ultimo SAC do ano atual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAC__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>varAnoTexto</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>SAC__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>teste</name>
        <label>teste</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>SAC__c</field>
            <value>
                <elementReference>sac</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Definir_o_ano_atual</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAnoAtual</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAnoTexto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSequencia</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
