brametaQA/force-app/main/default/flows/RecordTriggerFlow_atualizar_Campanha_em_lead_webtolead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Campanha</name>
        <label>Campanha</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Atualizar_Lead_Campanha</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Solar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unidade_de_Negocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campanha_Solar</targetReference>
            </connector>
            <label>Solar</label>
        </rules>
        <rules>
            <name>Servi_os</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unidade_de_Negocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campanha_servi_os</targetReference>
            </connector>
            <label>Serviços</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RecordTriggerFlow- atualizar Campanha em lead webtolead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordTriggerFlow- atualizar Campanha em lead webtolead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_membro_na_campanha</name>
        <label>Criar membro na campanha</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>RecordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campanha_servi_os</name>
        <label>Get Campanha - serviços</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Lead_Campanha</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campanha Digital [Galvanização]</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>RecordId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campanha_Solar</name>
        <label>Get Campanha - Solar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Lead_Campanha</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>[Solar] Captura de Leads Web</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>RecordId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Lead_Campanha</name>
        <label>Atualizar Lead Campanha</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Criar_membro_na_campanha</targetReference>
        </connector>
        <inputAssignments>
            <field>Campanha_c__c</field>
            <value>
                <elementReference>RecordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campanha</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campanha_c__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WebtoLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
