brametaQA/force-app/main/default/flows/RTF_PMT_Task_Valida_alteracao_de_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Erro_task_Concluido</name>
        <label>Erro task Concluído</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Não é possível iniciar/mudar a fase desta Tarefa porque ainda existe Tarefa anterior em aberto.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Erro_task_Concluido_2</name>
        <label>Erro task Concluído 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Não é possível iniciar/mudar a fase desta Tarefa porque ainda existe Tarefa anterior em aberto.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Erro_task_Fabricacao_2</name>
        <label>Erro task Fabricação 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Não é possível iniciar/mudar a fase desta Tarefa porque ainda existe Tarefa anterior em aberto.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Erro_task_Inspecao</name>
        <label>Erro task Inspeção</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Não é possível iniciar/mudar a fase desta Tarefa porque ainda existe Tarefa anterior em aberto.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Erro_task_Inspecao_2</name>
        <label>Erro task Inspeção 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Não é possível iniciar/mudar a fase desta Tarefa porque ainda existe Tarefa anterior em aberto.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Erro_task_Monstagem</name>
        <label>Erro task Montagem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Não é possível iniciar/mudar a fase desta Tarefa porque ainda existe Tarefa anterior em aberto.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Erro_task_Montagem_2</name>
        <label>Erro task Montagem 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Não é possível iniciar/mudar a fase desta Tarefa porque ainda existe Tarefa anterior em aberto.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Erro_task_Teste</name>
        <label>Erro task Teste</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Não é possível iniciar/mudar a fase desta Tarefa porque ainda existe Tarefa anterior em aberto.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Mensagem_de_erro_personalizada_1</name>
        <label>Erro Msg Novo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Ao criar uma nova Tarefa, ela deve iniciar com a fase</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Encontrou_registros_Concluido</name>
        <label>Encontrou registros (Concluído)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimConcluido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tarefas_anteriores_Concluido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro_task_Concluido</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_registros_Concluido2</name>
        <label>Encontrou registros (Concluído2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimConcluido2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tarefas_anteriores_Concluido_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro_task_Concluido_2</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_registros_Fabricacao_2</name>
        <label>Encontrou registros (Fabricação 2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimFabricacao2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tarefas_anteriores_Fabricacao_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro_task_Fabricacao_2</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_registros_Inspecao</name>
        <label>Encontrou registros (Inspeção)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimPreMontagem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tarefas_anteriores_Inspecao</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro_task_Inspecao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_registros_Inspecao_2</name>
        <label>Encontrou registros (Inspeção 2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimInspecao2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tarefas_anteriores_Inspecao_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro_task_Inspecao_2</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_registros_Montagem</name>
        <label>Encontrou registros (Montagem)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimSimMontagem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tarefas_anteriores_Montagem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro_task_Monstagem</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_registros_Montagem2</name>
        <label>Encontrou registros (Montagem2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimMontagem2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tarefas_anteriores_Montagem2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro_task_Montagem_2</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontrou_registros_Teste</name>
        <label>Encontrou registros (Teste)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimTeste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tarefas_anteriores_Teste</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro_task_Teste</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Alteracao</name>
        <label>Tipo Alteração</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Novo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inov8__Is_Milestone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensagem_de_erro_personalizada_1</targetReference>
            </connector>
            <label>Milestone</label>
        </rules>
        <rules>
            <name>Status_da_Tarefa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inov8__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inov8__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_Tarefa</targetReference>
            </connector>
            <label>Status da Tarefa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Tarefa</name>
        <label>Tipo Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Fabricacao_Premontagem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fabricação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inov8__Phase__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pré-montagem</stringValue>
                </rightValue>
            </conditions>
            <label>Fabricação - Pré-montagem</label>
        </rules>
        <rules>
            <name>Montagem_Premontagem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montagem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inov8__Phase__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pré-montagem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tarefas_anteriores_Montagem</targetReference>
            </connector>
            <label>Montagem - Pré-montagem</label>
        </rules>
        <rules>
            <name>Inspecao_Premontagem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspeção</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inov8__Phase__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pré-montagem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tarefas_anteriores_Inspecao</targetReference>
            </connector>
            <label>Inspeção - Pré-montagem</label>
        </rules>
        <rules>
            <name>Concluido_Premontagem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inov8__Phase__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pré-montagem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tarefas_anteriores_Concluido</targetReference>
            </connector>
            <label>Concluído - Pré-montagem</label>
        </rules>
        <rules>
            <name>Fabricacao_Ensaio_de_carregamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fabricação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inov8__Phase__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ensaio de carregamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tarefas_anteriores_Fabricacao_2</targetReference>
            </connector>
            <label>Fabricação - Ensaio de carregamento</label>
        </rules>
        <rules>
            <name>Montagem_Ensaio_de_carregamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montagem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inov8__Phase__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ensaio de carregamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tarefas_anteriores_Montagem2</targetReference>
            </connector>
            <label>Montagem - Ensaio de carregamento</label>
        </rules>
        <rules>
            <name>Teste_Ensaio_de_carregamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Teste</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inov8__Phase__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ensaio de carregamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tarefas_anteriores_Teste</targetReference>
            </connector>
            <label>Teste - Ensaio de carregamento</label>
        </rules>
        <rules>
            <name>Inspecao_Ensaio_de_carregamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspeção</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inov8__Phase__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ensaio de carregamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tarefas_anteriores_Inspecao_2</targetReference>
            </connector>
            <label>Inspeção - Ensaio de carregamento</label>
        </rules>
        <rules>
            <name>Concluido_Ensaio_de_carregamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inov8__Phase__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ensaio de carregamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tarefas_anteriores_Concluido_2</targetReference>
            </connector>
            <label>Concluído - Ensaio de carregamento</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>RTF - PMT Task - Valida alteração de Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - PMT Task - Valida alteração de Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tarefas_anteriores_Concluido</name>
        <label>Get Tarefas anteriores à Concluído</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_registros_Concluido</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>inov8__Project_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inov8__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fabricação</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Montagem</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspeção</stringValue>
            </value>
        </filters>
        <filters>
            <field>inov8__Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pré-montagem</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tarefas_anteriores_Concluido_2</name>
        <label>Get Tarefas anteriores à Concluído 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_registros_Concluido2</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6) AND 7 AND 8</filterLogic>
        <filters>
            <field>inov8__Project_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inov8__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fabricação</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Montagem</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Teste</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspeção</stringValue>
            </value>
        </filters>
        <filters>
            <field>inov8__Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ensaio de carregamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tarefas_anteriores_Fabricacao_2</name>
        <label>Get Tarefas anteriores à Fabricação 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_registros_Fabricacao_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inov8__Project_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inov8__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>inov8__Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pré-montagem</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tarefas_anteriores_Inspecao</name>
        <label>Get Tarefas anteriores à Inspeção</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_registros_Inspecao</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>inov8__Project_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inov8__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fabricação</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Montagem</stringValue>
            </value>
        </filters>
        <filters>
            <field>inov8__Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pré-montagem</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tarefas_anteriores_Inspecao_2</name>
        <label>Get Tarefas anteriores à Inspeção 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_registros_Inspecao_2</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>inov8__Project_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inov8__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fabricação</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Montagem</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Teste</stringValue>
            </value>
        </filters>
        <filters>
            <field>inov8__Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ensaio de carregamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tarefas_anteriores_Montagem</name>
        <label>Get Tarefas anteriores à Montagem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_registros_Montagem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inov8__Project_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inov8__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fabricação</stringValue>
            </value>
        </filters>
        <filters>
            <field>inov8__Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pré-montagem</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tarefas_anteriores_Montagem2</name>
        <label>Get Tarefas anteriores à Montagem 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_registros_Montagem2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inov8__Project_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inov8__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fabricação</stringValue>
            </value>
        </filters>
        <filters>
            <field>inov8__Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ensaio de carregamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tarefas_anteriores_Teste</name>
        <label>Get Tarefas anteriores à Teste</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_registros_Teste</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>inov8__Project_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inov8__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fabricação</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Montagem</stringValue>
            </value>
        </filters>
        <filters>
            <field>inov8__Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ensaio de carregamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_Alteracao</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>inov8__Is_Milestone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inov8__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>inov8__PMT_Task__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
