brametaQA/force-app/main/default/flows/Valida_itens_duplicados_no_produto_da_OF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>mensagemErro</name>
        <label>mensagemErro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Este produto já existe para esta Ordem de Fabricação.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Tipo_de_OF</name>
        <label>Tipo de OF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>OF - SAC</defaultConnectorLabel>
        <rules>
            <name>OF_PRD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ordem_de_fabricacao__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012bJ000000TFuvQAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usu_rio_de_exeu_o</targetReference>
            </connector>
            <label>OF - PRD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usu_rio_de_exeu_o</name>
        <label>Usuário de exeução</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Integração</defaultConnectorLabel>
        <rules>
            <name>Outros_usu_rios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005bJ00000EX6kzQAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obt_m_registros_iguais</targetReference>
            </connector>
            <label>Outros usuários</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_duplicado</name>
        <label>Valida duplicado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não existe</defaultConnectorLabel>
        <rules>
            <name>Duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obt_m_registros_iguais</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mensagemErro</targetReference>
            </connector>
            <label>Duplicado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Valida itens duplicados no produto da OF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Valida itens duplicados no produto da OF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obt_m_registros_iguais</name>
        <label>Obtém registros iguais</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_duplicado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ordem_de_fabricacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ordem_de_fabricacao__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Produto_da_ordem_de_fabricacao__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_OF</targetReference>
        </connector>
        <object>Produto_da_ordem_de_fabricacao__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contaregistros</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Produto_da_ordem_de_fabricacao__c</objectType>
    </variables>
</Flow>
