brametaQA/force-app/main/default/flows/Vincula_Parametro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>Limpacampo</name>
        <dataType>String</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>Vincula Parametro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vincula Parametro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_itens</name>
        <label>Atualiza itens</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>Data_de_conclusao_da_analise__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Data_inicial__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_de_conclusao_da_analise__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Data_final__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unidade_de_negocio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unidade_de_neg_cios__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unidade_fabril__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unidade_fabil__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Setor_de_atividade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Setor_de_atividade__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Setor_de_atividade__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>Par_metro_para_indicador__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Item_do_caso__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Limpa_itens</name>
        <label>Limpa itens</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Atualiza_itens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Par_metro_para_indicador__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Par_metro_para_indicador__c</field>
            <value>
                <elementReference>Limpacampo</elementReference>
            </value>
        </inputAssignments>
        <object>Item_do_caso__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Limpa_itens</targetReference>
        </connector>
        <object>Parametro_para_indicador__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
